.b {
	&-all {
		border-width: 1px;
		border-style: solid;
		border-color: var(--border-default);
	}
	&-l {
		border-width: 0px 0px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-t {
		border-width: 1px 0px 0px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}
	&-b {
		border-width: 0px 0px 1px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-r {
		border-width: 0px 1px 0px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-lb {
		border-width: 0px 0px 1px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-lr {
		border-width: 0px 1px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-lrt {
		border-width: 1px 1px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-lt {
		border-width: 1px 0px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-rt {
		border-width: 1px 1px 0px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-lrb {
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-tb {
		border-width: 1px 0px 1px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-bt {
		border-width: 1px 0px 1px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}
}
