.b {
	&-all {
		border-width: 1px;
		border-style: solid;
		border-color: var(--border-default);
	}
	&-left {
		border-width: 0px 0px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-left-bottom {
		border-width: 0px 0px 1px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-bottom {
		border-width: 0px 0px 1px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-right {
		border-width: 0px 1px 0px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-left-right {
		border-width: 0px 1px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-left-right-top {
		border-width: 1px 1px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-left-top {
		border-width: 1px 0px 0px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-right-top {
		border-width: 1px 1px 0px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-left-right-bottom {
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-left-right-bottom {
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-top-bottom {
		border-width: 1px 0px 1px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}

	&-top {
		border-width: 1px 0px 0px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}
	&-bottom {
		border-width: 0px 0px 1px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}
	&-bottom-top {
		border-width: 1px 0px 1px 0px;
		border-style: solid;
		border-color: var(--border-default);
	}
}
