@mixin opacity($opacity, $important: 0) {
  opacity: $opacity;
}
@mixin translucent-background($color: white, $alpha: 1) {
  background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
}

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
