// Basic
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

body {
  color: #6c6c6c;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
}

h1 {
  font-weight: 700;
  font-size: 5.25em;
  margin-bottom: 25px;
  letter-spacing: -5px;
  line-height: 85px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    background: rgba(0, 0, 0, 0.09);
    border-radius: 5px;
  }
}

p {
  margin-bottom: 30px;
  font-size: 1.125em;
  line-height: 32px;
}
