// Basic
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    font-size: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #6C6C6C;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

h1 {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 25px;;
}

a {
  color: #000;
  text-decoration: none;
  transition: all .2s ease;
  &:hover {
    background: rgba(0,0,0,.09);
    border-radius: 5px;
  }
}

p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 34px;
}
