@import "../node_modules/bootstrap-scss/bootstrap-grid.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "basic.scss";

.container {
  max-width: 900px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.portrait {
  img {
    max-width: 100%;
  }
}

.content {
  padding-left: 40px;
  padding-right: 40px;

  .section {
    p {
      margin-bottom: 10px;
    }
    hr {
      border-top: 1px solid #d8d8d8;
      margin-bottom: 25px;
    }
  }

  .copy-to-clipboard {
    cursor: pointer;
  }

  .social {
    margin-bottom: 30px;
    margin-top: 30px;
    a:hover {
      background: none;
      opacity: 0.5;
    }
    img {
      width: 17px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin-right: 10px;

        &:first-child {
          position: relative;
          top: -2px;
        }
      }
    }
  }

  footer {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #a8a8a8;
  }
}

@media only screen and (max-width: 700px) {
  .portrait {
    display: none;
  }

  .content h1 {
    font-size: 4em;
    line-height: 70px;
  }
}
