@import '../plugins/bootstrap/scss/_variables.scss';
@import '../plugins/bootstrap/scss/_mixins.scss';
@import '../plugins/bootstrap/scss/_grid.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'basic.scss';

.container {
  max-width: 900px;
  margin-top: 70px;
}

.portrait {
  img {
    max-width: 100%;
  }
}

.content {
  padding-left: 30px;

  .section {
    p {
      margin-bottom: 10px;
    }
    hr {
      border-top: 1px solid #D8D8D8;
      margin-bottom: 25px;
    }
  }

  .copy-to-clipboard {
    cursor: pointer;
  }

  .social {
    margin-bottom: 30px;
    margin-top: 30px;
    a:hover {
      background: none;
      opacity: .5;
    }
    img {
      width: 17px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin-right: 10px;

        &:first-child {
          position: relative;
          top: -2px;
        }
      }
    }
  }

  footer {
    font-family: "Poppins", sans-serif;;
    font-size: 14px;
    color: #A8A8A8;
  }
}
