<r-cell
    class="not-found"
    span="2-11"
    span-s="row"
    span-lg="row"
>
    <div class="not-found--content">
        <h1>
           See you back on the homepage
        </h1>
        <p class="subtitle">
            The page you're looking for cannot be found. Perhaps it's playing hide-and-seek with our server. Nonetheless, thank you for joining us in the adventure of searching for the lost page.  <a href="{{ '/' | url }}">Let's head back to the homepage</a>.
        </p>
    </div>
</r-cell>