<r-grid class="design-process" columns="12">
    <r-cell class="design-process--observe design-process--card" span="4" span-s="row" span-m="1-2">
        <h2>Observe</h2>
        <p>
By observing, I believe we can develop a greater understanding of user experience and needs by observing them in their natural environment. 
        </p>
    </r-cell>
    <r-cell class="design-process--reflect design-process--card" span="4" span-s="row" span-m="1-2">
        <h2>Reflect</h2>

        <p>
Reflecting on my work, take into account different perspectives and be prepared to change in order to stay true to the team's values. 
        </p>
    </r-cell>
    <r-cell class="design-process--make design-process--card" span="4" span-s="row" span-m="1-2">
        <h2>Make</h2>

        <p>
The sooner you make, the more quickly you learn. By make, giving you the opportunity to try out new ideas and see them take effect in the real world.
        </p>
    </r-cell>
</r-grid>