<div class="footer--content">
    <h2>
        It’s end for now, <br />
        Still work in progress
    </h2>
    <p class="subtitle">
        I am always open to new opportunities and collaborations. If you have
        any questions or need help with a project,
        <span class="copy-email" onclick="event.preventDefault()"
            >reach out to me via email {% icon "copy" %}
        </span>
    </p>
</div>
<div class="footer--social border-top">
    <p>
        Follow me for more thoughts and updates on
        <a href="https://twitter.com/afnizarnur">Twitter</a>,
        <a href="https://www.figma.com/@afnizarnur">Figma</a>,
        <a href="https://github.com/afnizarnur">GitHub</a>, and
        <a href="https://www.linkedin.com/in/afnizarnur/">LinkedIn</a>
    </p>
</div>
<div class="footer--version border-top">
    <ul class="list">
        <li>
            <p>See previous versions of this site</p>
        </li>
        <li>
            <a href="{{ '/2013/' | url }}">2013</a>
        </li>
        <li>
            <a href="{{ '/2019/' | url }}">2019</a>
        </li>
        <li>
            <a href="{{ '/2020/' | url }}">2020</a>
        </li>
        <li>
            <a href="{{ '/2022/' | url }}">2022</a>
        </li>
    </ul>
</div>
