<r-cell
    class="border-left work--title-footer"
    span="1-2"
    span-s="row"
    span-lg="row"
>
    <div class="border-bottom work--section-title">
        <small aria-hidden="true">Footer</small>
    </div>
</r-cell>
<r-cell class="border-left-right footer" span="3-12" span-s="row" span-lg="row">
    <span class="block border-bottom u-desktop-only"></span>
    <footer>
        <div class="footer--content">
            <h2 text-split letters-slide-up>
                Do you like what you see?
                <br/>
                Feel free to reach out
            </h2>
            <p class="subtitle">
                I am always open to new opportunities and collaborations. If you
                have any questions or need help with a project,
                <a tabindex="0" class="copy-email" onclick="event.preventDefault()"
                    >reach out to me via email {% icon "copy" %}
                </a>
            </p>
        </div>
        <div class="footer--social border-top">
            <p>
                Follow me for more thoughts and updates on
                <a href="https://twitter.com/afnizarnur">Twitter</a>,
                <a href="https://www.figma.com/@afnizarnur">Figma</a>,
                <a href="https://github.com/afnizarnur">GitHub</a>, and
                <a href="https://www.linkedin.com/in/afnizarnur/">LinkedIn</a>
            </p>
        </div>
        <div class="footer--version border-top">
            <ul class="list">
                <li>
                    <p>See previous versions of this site</p>
                </li>
                <li>
                    <a href="{{ '/2013/' | url }}">2013</a>
                </li>
                <li>
                    <a href="{{ '/2019/' | url }}">2019</a>
                </li>
                <li>
                    <a href="{{ '/2020/' | url }}">2020</a>
                </li>
                <li>
                    <a href="{{ '/2022/' | url }}">2022</a>
                </li>
            </ul>
        </div>

        <div class="footer--local-time-now-playing">
            <div class="local-time">
                {% icon "clock" %}
                <small>
                    <span id="local-time"></span> Serang, Indonesia</small>
            </div>
            <div class="commit-code">
                {% icon "commit" %}

                <small>
                    {{ build.hash }}
                </small>
            </div>
            <div class="now-playing">
                <small id="current-song"></small>
            </div>
        </div>
    </footer>
</r-cell>