<r-grid class="headliner" columns="12">
    <r-cell span="3-10" span-s="row" span-m="1-2">
        <h1>
        Afnizar is a digital product designer at <u>GovTech Edu</u> @ <u>Telkom Indonesia</u>
        </h1>
    </r-cell>
</r-grid>