<r-cell class="b-l u-desktop-only" span="1-2" span-s="row"></r-cell>
<r-cell
    class="b-lr work--header-empty u-desktop-only"
    span="3-12"
    span-s="row"
    span-lg="row"
></r-cell>

<r-cell
    class="b-lb u-desktop-only"
    span="1-2"
    span-s="row"
    span-lg="row"
></r-cell>
<r-cell
    class="work--header-container b-lr"
    span="3-12"
    span-s="row"
    span-lg="row"
>
    <header class="header b-b" role="banner">
        <div class="header--inner">
            <div class="header--branding">
                <p class="body-large">
                    <a class="logo" href="{{ '/' | url }}">
                        <img src="{{ '/assets/images/afnizar-nur-ghifari.png' | url }}" alt="Afnizar Nur Ghifari" height="36" width="36" decoding="async"/>
                    </a>
                </p>
            </div>
            <div class="header--nav">{% include "nav.njk" %}</div>
        </div>
    </header>
</r-cell>

{% include "nav-mobile.njk" %}