<r-cell class="border-left u-desktop-only" span="1-2" span-s="row"></r-cell>
<r-cell
    class="border-left-right work--header-empty u-desktop-only"
    span="3-12"
    span-s="row"
    span-lg="row"
></r-cell>

<r-cell
    class="border-left-bottom u-desktop-only"
    span="1-2"
    span-s="row"
    span-lg="row"
></r-cell>
<r-cell
    class="work--header-container border-left-right"
    span="3-12"
    span-s="row"
    span-lg="row"
>
    <header class="header border-bottom" role="banner">
        <div class="header--inner">
            <div class="header--branding">
                <p class="body-large">
                    <a class="logo" href="{{ '/' | url }}">
                        {% image "afnizar-nur-ghifari.png", "Afnizar Nur
                        Ghifari", "coba" %}
                    </a>
                </p>
            </div>
            <div class="header--nav">{% include "nav.njk" %}</div>
        </div>
    </header>
</r-cell>

{% include "nav-mobile.njk" %}