<r-grid class="intro__main" columns="12">
	<r-cell span="3-10" span-s="row">
		<h1>
			Afnizar is a digital product designer at
			<u>GovTech Edu</u>
			@
			<u>Telkom Indonesia</u>
		</h1>
	</r-cell>
</r-grid>
