<div class="loader">
    <div class="container">
        <r-grid class="loader__main" columns="12" columns-s="3">
            <r-cell span="row">
                <div class="loader__line">
                    <div class="loader__fill"></div>
                </div>
            </r-cell>
            <r-cell span="1-8" span-s="row">
                <h2 class="loader__heading" data-splitting>
                    {{
                        [
                            "Halo, apa kabar?",
                            "Halo, priwe kabare?",
                            "Hello, how are you?"
                        ] | random
                    }}
                </h2>
            </r-cell>
            <r-cell class="loader__percentage-wrapper" span="9-12" span-s="row">
                <h2 class="loader__percentage">0%</h2>
            </r-cell>
        </r-grid>
    </div>
</div>
