<div class="nav__mobile" id="nav-menu" role="navigation" tabindex="-1">
	<div class="nav-sheet">
		<div class="container">
			<ul class="nav__nav-list">
				<li class="nav__nav-list-item">
					<h2>
						<a href="/">Selected works</a>
					</h2>
				</li>
				<li class="nav__nav-list-item">
					<h2>
						<a href="/about">About</a>
					</h2>
				</li>
				<li class="nav__nav-list-item">
					<h2>
						<a href="#">Contact</a>
					</h2>
				</li>
				<li class="nav__nav-list-item">
					<h2>
						<a href="{{ '/afnizar-resume.pdf' | url }}">Resume</a>
					</h2>
				</li>
			</ul>
			<div class="nav__nav-footer-main">
				<div class="nav__nav-footer">
					<ul class="nav__nav-social">
						<li class="nav__nav-list-social">
							<p>
								<a href="https://twitter.com/afnizarnur">Twitter</a>
							</p>
						</li>
						<li class="nav__nav-list-social">
							<p>
								<a href="https://github.com/afnizarnur">GitHub</a>
							</p>
						</li>
						<li class="nav__nav-list-social">
							<p>
								<a href="https://dribbble.com/afnizarnur">Dribbble</a>
							</p>
						</li>
						<li class="nav__nav-list-social">
							<p>
								<a href="https://www.behance.net/afnizarnur">Behance</a>
							</p>
						</li>
						<li class="nav__nav-list-social">
							<p>
								<a href="https://www.linkedin.com/in/afnizarnur/">LinkedIn</a>
							</p>
						</li>
					</ul>
					<ul class="nav__nav-email">
						<li>
							<a href="mailto:afnizarhilmi@gmail.com">Email</a>
						</li>
						<li>
							<button class="icon-button nav__themebtn js-themepicker-toggle-menu" aria-expanded="false" aria-controls="theme-menu">
								<span class="sr-only">
									Change Theme</span>

								{% icon "change-pallete" %}

							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>