<div class="nav__mobile" id="nav-menu" role="navigation" tabindex="-1">
    <div class="nav-sheet">
        <div class="container">
            <ul class="nav__nav-list">
                {%- for item in collections.all | eleventyNavigation -%}
                    {%- if
				item.url -%}
                        {%- set isCurrent = (item.url == page.url) -%}
                        {%-
				set isParent = item.url != '/' and item.url in page.url -%}
                        <li
					class="nav__nav-list-item {% if isCurrent or isParent %} {% endif %}"
				>
                            <h2>
                                <a
							href="{% if isCurrent %} {{
								item.url | url
							}} {% else %}{{ item.url | url }}{% endif %}"
							{%
							if
							isCurrent
							%}
							aria-current="page"
							{%
							endif
							%}
						>
                                    {{ item.title }}
                                </a>
                            </h2>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>

            <button
				class="icon-button nav__themebtn js-themeswitcher-toggle-menu nav__mobile-themebtn"
				aria-expanded="false"
				aria-controls="theme-menu"
				data-umami-event="nav-theme-mobile"
							>
                <span class="sr-only"> Change Theme</span>

                {% icon "color-wheel" %}
            </button>

        </div>
    </div>
</div>