//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
	sm: 480px,
	md: 768px,
	lg: 960px,
	xl: 1600px
);

$container-max-width: 1200px;

// Z-Index Stack
// Control the order of layers in the application
$z-layers: (
	"modal": 999,
	"nav": 100,
	"content-overlay": 30
);

// Colors
$white: #ffffff;
$gray-950: #191a1b;
$gray-900: #2f3032;
$gray-800: #363739;
$gray-700: #404345;
$gray-600: #4d5154;
$gray-500: #62676a;
$gray-400: #7d8184;
$gray-300: #a1a5a7;
$gray-200: #c5c8ca;
$gray-100: #e2e4e5;
$gray-50: #f6f6f7;
$blue-950: #02161c;
$blue-900: #042a36;
$blue-800: #08526b;
$blue-700: #0c7a9f;
$blue-600: #10a2d3;
$blue-500: #2cbeef;
$blue-400: #60cef3;
$blue-300: #94def7;
$blue-200: #baeafa;
$blue-100: #e0f5fd;
$blue-50: #f3fbfe;
$pink-950: #200013;
$pink-900: #3c0023;
$pink-800: #740043;
$pink-700: #ac0064;
$pink-600: #e50084;
$pink-500: #ff1ea0;
$pink-400: #ff56b8;
$pink-300: #ff8ecf;
$pink-200: #ffc6e7;
$pink-100: #ffeaf6;
$pink-50: #ffeff8;
$green-950: #104424;
$green-900: #155b30;
$green-800: #208948;
$green-700: #2bb660;
$green-600: #46d37c;
$green-500: #73de9c;
$green-400: #94e6b3;
$green-300: #b5eecb;
$green-200: #d6f5e2;
$green-100: #edfff4;
$green-50: #f7fdf9;
$yellow-950: #343200;
$yellow-900: #504c01;
$yellow-800: #888101;
$yellow-700: #bfb601;
$yellow-600: #f7eb02;
$yellow-500: #fef433;
$yellow-400: #fef76b;
$yellow-300: #fef994;
$yellow-200: #fffbbc;
$yellow-100: #fffdd9;
$yellow-50: #fffee5;
$orange-950: #351b00;
$orange-900: #522900;
$orange-800: #8a4500;
$orange-700: #c26100;
$orange-600: #fa7d00;
$orange-500: #ff9933;
$orange-400: #ffb56b;
$orange-300: #ffc994;
$orange-200: #ffdebd;
$orange-100: #ffecd9;
$orange-50: #fff2e5;

// Color Mappings

$bg-color: $white;
$text-color: $gray-950;

// Typography
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif-heading: "Aksen", -apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
	"Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif-body: "Inter var", -apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
	"Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Andale Mono", "Courier New",
	monospace;
$font-family-base: $font-family-sans-serif-body;

$font-size-root: 100%;
$font-size-base: 1rem;
$line-height: 1.6rem;

// Animation
// Default easing curves, Transitions, etc

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-fast-out-slow-in-alt: cubic-bezier(0.19, 1, 0.22, 1);
$animation-curve-swoosh: cubic-bezier(0.19, 1, 0.22, 1);
$animation-curve-default: $animation-curve-fast-out-slow-in;

// Misc Shared
// common shared styles

$box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
$box-shadow-elevated: 0 6px 12px 0 rgba(0, 0, 0, 0.1);

$border-radius-16: 1rem;
$border-radius-12: 0.75rem;
$border-radius-8: 0.5rem;
$border-radius-4: 0.25rem;
