.badge {
	display: flex;
	align-items: center;

	&.badge-tags {
		padding: 4px 8px;
		background: var(--surface-default);
		color: var(--text-disabled);
		border-radius: 24px;
		text-transform: lowercase;

		&:before {
			content: "#";
			margin-right: 4px;
		}
	}

	&.badge-category {
		padding: 4px 12px;
		background: var(--surface-default);
		color: var(--text-disabled);
		color: var(--text-disabled);
		border-radius: 24px;
		text-transform: capitalize;
	}

	&.badge-draft {
		padding: 8px 16px;
		background: var(--text-primary);
		border-radius: 24px;

		small {
			color: var(--background-default);
		}

		@include mq-down(lg) {
			top: 24px;
			left: 24px;
		}
	}
}
