.badge {
    padding: 4px 8px;
    align-items: center;
    background: var(--surface-default);
    color: var(--text-disabled);
    border-radius: 24px;

    &:before {
        content: "#";
        margin-right: 4px;
    }
}
