.icon-button {
    @include button-reset;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--text-primary);

    .icon {
        margin: auto; // iOS Safari compat
    }
}

.btnicon {
    @include button-reset;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }
}
