.iconbtn {
    @include button-reset;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--color-text);

    .icon {
        margin: auto; // iOS Safari compat
    }

    @include hover-focus {
        filter: brightness(0.95) saturate(140%);
    }
}
