input[type="checkbox"] {
	position: absolute;
	opacity: 0;

	& + label {
		position: relative;
		cursor: pointer;
		padding-left: 28px;

		small {
			top: -2px;
			position: relative;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 15px;
			height: 15px;
			outline: 2px solid var(--text-primary);
			background-color: var(--background-default);
			border-radius: 4px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0px;
			top: 0px;
			width: 15px;
			height: 15px;
			background: #fff;
			border-radius: 4px;
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewBox='0 0 20 20'><path fill-rule='evenodd' d='m17.593 5.507-8.49 10.26a1 1 0 0 1-1.541 0L2.536 9.673 4.079 8.4l4.255 5.16 7.718-9.328 1.541 1.275Z' clip-rule='evenodd'/></svg>");
			background-size: cover;
			opacity: 0;
		}
	}

	&:focus-visible + label::before {
		outline: 4px solid $blue-500;
	}

	&:checked + label::before {
		background-color: var(--background-default);
		border-color: var(--text-primary);
	}

	&:checked + label::after {
		opacity: 1;
	}
}
