.cta {
	&--content {
		padding: 120px 0px;

		@include mq-down(lg) {
			padding: 64px 24px;
		}
	}
}

.copy-email {
	cursor: pointer;
	text-decoration: underline;
	padding: 2px 5px;
	margin: 0 -5px;
	border-radius: 4px;

	svg {
		margin-left: 8px;
		width: 20px;
		height: 20px;
		top: -2px;
		position: relative;
	}

	&:hover {
		color: var(--background-default);
		background: var(--text-primary);
		text-decoration: none;
	}

	&:focus-visible {
		outline: 4px solid $blue-500;
	}
}
