.design-process {
    position: relative;

    &--card {
        border-radius: 32px;
        overflow: hidden;

        @include mq-down(lg) {
            margin-bottom: 24px;
        }

        h3 {
            color: var(--text-on-surface-primary);
            padding: 28px 28px 24px 28px;

            @include mq-down(sm) {
                padding: 28px 28px 16px 28px;
            }
        }

        p {
            padding: 0px 28px 24px 28px;

            @include mq-down(md) {
                padding: 0px 28px 16px 28px;
            }
        }

        img {
            width: 100%;
            max-width: 100%;
        }
    }
    &--observe {
        background: var(--surface-green);
        color: var(--text-on-surface-secondary);
    }
    &--reflect {
        background: var(--surface-pink);
        color: var(--text-on-surface-secondary);
    }
    &--make {
        background: var(--surface-gray);
        color: var(--text-on-surface-secondary);
    }
}
