.footer {
    @include mq-down(sm) {
        border: none;
    }

    &--content {
        padding: 144px 44px 144px 44px;

        @include mq-down(sm) {
            padding: 64px 24px;
        }
    }
    &--social {
        display: inline-block;
        width: 100%;
        padding: 24px 44px;

        @include mq-down(sm) {
            padding: 24px 24px;
        }
    }
    &--version {
        display: inline-block;
        width: 100%;
        padding: 24px 44px;
        margin-bottom: 144px;

        @include mq-down(sm) {
            padding: 24px 24px;
            margin-bottom: 64px;
        }

        .list {
            display: flex;

            @include mq-down(md) {
                flex-wrap: wrap;
            }

            li {
                margin-right: 16px;
            }

            li:nth-child(1) {
                @include mq-down(md) {
                    flex: 1 0 100%;
                    margin-bottom: 12px;
                }
            }
        }
    }
}
