.footer {
	@include mq-down(lg) {
		border: none;
	}

	&--content {
		padding: 144px 44px 144px 44px;

		@include mq-down(lg) {
			padding: 64px 24px;
		}

		.copy-email {
			cursor: pointer;
			text-decoration: underline;
			padding: 2px 5px;
			margin: 0 -5px;
			border-radius: 4px;
			align-items: center;

			svg {
				margin-left: 8px;
				width: 20px;
				height: 20px;
				top: -2px;
				position: relative;
			}

			&:hover {
				color: var(--background-default);
				background: var(--text-primary);
				text-decoration: none;
			}

			&:focus-visible {
				outline: 4px solid $blue-500;
			}
		}
	}
	&--social {
		display: inline-block;
		width: 100%;
		padding: 24px 44px;

		@include mq-down(lg) {
			padding: 24px 24px;
		}
	}
	&--version {
		display: inline-block;
		width: 100%;
		padding: 24px 44px;
		margin-bottom: 144px;

		@include mq-down(lg) {
			padding: 24px 24px;
			margin-bottom: 64px;
		}

		.list {
			display: flex;

			@include mq-down(md) {
				flex-wrap: wrap;
			}

			li {
				margin-right: 16px;
			}

			li:nth-child(1) {
				@include mq-down(md) {
					flex: 1 0 100%;
					margin-bottom: 12px;
				}
			}
		}
	}
	&--local-time-now-playing {
		padding: 0px 44px 24px 44px;
		color: var(--text-disabled);
		justify-content: space-between;
		display: flex;

		@include mq-down(lg) {
			padding: 24px 24px;
		}

		@include mq-down(sm) {
			flex-direction: column;
		}

		small {
			margin-left: 8px;
		}

		.local-time,
		.commit-code,
		.now-playing {
			display: flex;
			align-items: center;

			@include mq-down(sm) {
				margin-bottom: 16px;
			}
		}

		svg {
			width: 20px;
			height: 20px;
		}

		.commit-code {
			margin-left: 24px;

			a {
				margin-left: 4px;

				text-decoration: none;
				color: var(--text-disabled);

				&:hover {
					color: var(--background-default);
				}

				small {
					margin: 0;
				}
			}

			@include mq-down(sm) {
				margin-left: 0;
			}
		}

		.now-playing {
			margin-left: auto;

			@include mq-down(sm) {
				margin-bottom: 0px;
				margin-left: 0px;
			}

			small {
				display: flex;
				align-items: center;
				margin: 0;

				a {
					margin: 0;
					color: var(--text-disabled);
					text-decoration: none;

					&:hover {
						color: var(--background-default);
					}
				}
			}
		}
	}
}
