.header {
    padding: 12px 44px;
    width: 100%;
    background: var(--background-default);

    @include mq-down(lg) {
        padding: 12px 24px;
    }

    &--inner {
        display: flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        transition: all 0.2s $animation-curve-default;
    }

    .logo {
        background: transparent;
        padding: 0;
        margin: 0;

        &:hover {
            img {
                box-shadow: 0px 0px 0px 2px var(--text-primary);
                transition: all 0.2s $animation-curve-default;
            }
        }
        img {
            border-radius: 100%;
            background: transparent;
            width: 36px;
            height: auto;
        }
    }

    &--branding {
        a.logo {
            color: var(--text-primary);
            text-decoration: none;
        }
    }

    &--nav {
        display: flex;
        align-items: center;
    }

    &.is-open {
        .header--inner {
            transition: all 0.2s $animation-curve-default;
        }
    }
}
