.header {
    padding: 1rem 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        fill: var(--color-text);
        &:hover {
            animation-play-state: paused;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__themebtn {
        margin-left: 1em;
        transition: 0.1s ease-in-out;
        fill: red;

        &:hover {
            opacity: .5;
            transition: 0.1s ease-in-out;
        }
    }

}
