.intro {
    &__main {
        padding-top: 294px;
        padding-bottom: 200px;

        @include mq-down(lg) {
            padding-top: 222px;
            padding-bottom: 144px;
        }

        @include mq-down(sm) {
            padding-top: 194px;
            padding-bottom: 116px;
        }

        .intro__heading {
            overflow: hidden;

            [data-word="GovTech"],
            [data-word="Edu"],
            [data-word="@"],
            [data-word="Telkom"],
            [data-word="Indonesia"] {
                font-family: $font-family-serif;
                font-style: italic;
            }
        }

        p.subtitle {
            margin-top: 32px;
            color: var(--text-secondary);
        }

        .char {
            will-change: transform;
        }
    }
}
