.intro-video {
    position: sticky;
    z-index: 8;
    bottom: 24px;
    right: 24px;
    transition: all 0.25s ease-in-out;
    border-radius: 16px;
    border: 12px solid #ffffff;
    background: #ffffff;
    box-sizing: border-box;
    width: 197px;
    margin-left: auto;
    &__container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }

    @include mq-down(lg) {
        display: none;
    }
}
