.nav {
    &__mobile-nav {
        opacity: 1;
        visibility: hidden;
        transition-delay: 0s;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        background: var(--color-bg);
        padding-top: 68px;

        @include mq-down(md) {
            padding-top: 64px;
        }

        .nav-sheet {
            transition-delay: 0s;
            width: 100%;
            height: 100%;
            position: relative;
            background: var(--color-text);
            border-radius: 32px 32px 0px 0px;
            opacity: 0;
            transform: translateY(48px);
            transition: all 0.2s $animation-curve-default;
        }

        &.is-open {
            visibility: visible;
            opacity: 1;
            transition: all 0.5s $animation-curve-default;
            transition-delay: 0.1s;

            .nav-sheet {
                opacity: 1;
                transition-delay: 0.5s;
                transition: all 0.2s $animation-curve-default;
                transform: translateY(0px);
            }
        }
    }

    &__nav-list {
        margin: 0;
        padding: 0;
        position: relative;
        text-align: right;
        top: 16px;

        @include mq-down(md) {
            text-align: left;
        }
    }

    &__nav-list-item {
        a {
            color: var(--color-bg);
            text-decoration: none;
            display: block;
            padding: 1.5rem 0px;
            border-bottom: 2px solid var(--color-bg);

            &:hover {
                border-bottom: 2px solid transparent;
            }
        }
    }

    &__nav-footer-main {
        position: absolute;
        bottom: 0;
        padding-bottom: 32px;
        padding-top: 32px;
        width: inherit;

        @include mq-down(md) {
            width: 100%;
            overflow: initial;
            overflow-x: scroll;
            padding-right: 36px;
        }
    }

    &__nav-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq-down(md) {
            display: inline-flex;
        }

        a {
            color: var(--color-bg);

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__nav-social {
        display: flex;

        .nav__nav-list-social {
            margin: 0px 24px 0px 0px;
        }
    }

    &__nav-email {
        display: flex;
        align-items: center;

        .iconbtn {
            color: var(--color-bg);
            margin-left: 24px;

            &:hover {
                box-shadow: 0px 0px 0px 2px var(--color-bg);
            }
        }
    }
}
