.nav {
    display: flex;
    align-items: center;
    &__menu {
        display: none;
        position: absolute;
        right: 10%;
        z-index: -1;
        padding: 20px;
        border: 4px solid #FFF;
        top: 40px;
        background-color: var(--color-bg);
    }
    &__link {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        color: var(--color-text);
        &:hover {
            text-decoration: underline;
        }
    }
    &__toggle {
        @include button-reset;
    }

    @include mq-down(lg) {
        &.is-open &__menu {
            display: block;
        }
    }

    @include mq(lg) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}
