.nav {
	&__mobile {
		visibility: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 60px;
		left: 0;
		z-index: 98;

		@include mq-down(md) {
			padding-top: 0px;
		}

		.nav-sheet {
			transition-delay: 1s;
			height: 100%;
			position: relative;
			background: var(--background-default);
			transform: translateY(100vh);
			transition: all 0.7s $animation-curve-default;
			margin: 0px 12px;
			border-width: 0px 1px 0px 1px;
			border-style: solid;
			border-color: var(--border-default);
		}

		&.is-open {
			visibility: visible;

			.nav-sheet {
				opacity: 1;
				transition-delay: 1s;
				transition: transform 0.7s $animation-curve-default;
				transform: translateY(0px);
			}
		}
	}

	&__nav-list {
		margin: 0;
		padding: 0px 16px;
		position: relative;
		text-align: left;

		h2 {
			margin: 0;
		}
	}

	&__nav-list-item {
		padding: 1.5rem 0px;
		border-bottom: 1px solid var(--border-default);
		a {
			color: var(--text-primary);
			text-decoration: none;
			display: block;

			&:hover {
				background: none;
			}
		}
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}

	&__nav-footer-main {
		position: absolute;
		bottom: 60px;
		padding-bottom: 16px;
		padding-top: 16px;
		width: inherit;

		@include mq-down(md) {
			width: 100%;
			overflow: initial;
			overflow-x: scroll;
			padding-right: 24px;
		}
	}

	&__nav-footer {
		display: flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		align-items: center;

		@include mq-down(md) {
			display: inline-flex;
		}

		a {
			color: var(--text-primary);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__nav-link {
		display: flex;

		.icon-button {
			margin-left: 12px;
			color: var(--text-primary);

			svg {
				width: 28px;
				height: 28px;
			}

			&:hover {
				box-shadow: 0px 0px 0px 2px var(--text-primary);
			}
		}
	}
}
