.nav {
    &__mobile {
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        padding-top: 68px;

        @include mq-down(md) {
            padding-top: 72px;
        }

        .nav-sheet {
            transition-delay: 1s;
            width: 100%;
            height: 100%;
            position: relative;
            background: var(--text-primary);
            border-radius: 32px 32px 0px 0px;
            transform: translateY(100vh);
            transition: all 0.7s $animation-curve-default;
        }

        &.is-open {
            visibility: visible;

            .nav-sheet {
                opacity: 1;
                transition-delay: 1s;
                transition: transform 0.7s $animation-curve-default;
                transform: translateY(0px);
            }
        }
    }

    &__nav-list {
        margin: 0;
        padding: 0;
        position: relative;
        text-align: right;
        top: 16px;

        @include mq-down(md) {
            text-align: left;
        }
    }

    &__nav-list-item {
        a {
            color: var(--text-primary-inverse);
            text-decoration: none;
            display: block;
            padding: 1.5rem 0px;
            border-bottom: 2px solid var(--text-primary-inverse);

            &:hover {
                border-bottom: 2px solid transparent;
            }
        }
    }

    &__nav-footer-main {
        position: absolute;
        bottom: 0;
        padding-bottom: 32px;
        padding-top: 32px;
        width: inherit;

        @include mq-down(md) {
            width: 100%;
            overflow: initial;
            overflow-x: scroll;
            padding-right: 36px;
        }
    }

    &__nav-footer {
        display: flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;

        @include mq-down(md) {
            display: inline-flex;
        }

        a {
            color: var(--text-primary-inverse);
            text-decoration-thickness: 1px;
        }
    }

    &__nav-social {
        display: flex;

        .nav__nav-list-social {
            margin: 0px 24px 0px 0px;
        }
    }

    &__nav-email {
        display: flex;
        align-items: center;

        @include mq-down(md) {
            margin-right: 44px;
        }

        .icon-button {
            margin-left: 24px;
            color: var(--text-primary-inverse);

            &:hover {
                box-shadow: 0px 0px 0px 2px var(--text-primary-inverse);
            }
        }
    }
}
