.process-accordion {
	details summary::-webkit-details-marker {
		display: none;
	}

	&--item {
		border-top: 1px solid var(--border-default);

		&:hover {
			p.bold {
				text-decoration: underline;
			}
		}

		&[open] {
			.process-accordion--title {
				.icon--chevron-down {
					transform: rotate(180deg);
				}
			}
		}
	}

	&--title {
		display: flex;
		user-select: none;
		cursor: pointer;
		padding: 12px 24px;

		p {
			flex: 1 0 0;
		}

		&:focus-visible {
			outline: 4px solid $blue-500;
		}
	}

	&--content {
		padding: 8px 24px 24px 24px;
		color: var(--text-secondary);
		cursor: default;
	}
}
