.recommendation--accordion {
	position: relative;

	.accordion-wrapper {
		&.hidden {
			height: 900px;
			overflow: hidden;
		}
	}

	&.speaking--list-wrapper .accordion-wrapper.hidden {
		height: 700px;
	}

	.accordion-inner {
		gap: 24px;
		columns: 2 100px;
		column-gap: 1.5rem;
		overflow: hidden;

		@include mq-down(sm) {
			columns: 1 100px;
		}

		.accordion-slide {
			display: inline-block;
			background: var(--surface-default);
			padding: 24px;
			border-radius: 16px;
			transition: transform 0.3s ease;
			height: 100%;
			margin-bottom: 24px;

			&.speaking-card {
				padding: 0;
				.title {
					display: flex;
					flex-direction: column;
					padding: 24px;
					gap: 12px;

					p {
						width: 100%;
						color: var(--text-secondary);

						&.body-large {
							margin-bottom: 0px;
							color: var(--text-primary);
						}
					}
				}
			}

			&.hidden {
				display: none;
			}

			blockquote {
				font-size: 1.125rem;
				line-height: 1.575rem;
				font-weight: 520;
				margin: 0;
				padding: 0;
				margin-bottom: 24px;

				&:before {
					content: open-quote;
				}

				&:after {
					content: close-quote;
				}
			}

			cite {
				font-style: normal;
				display: flex;
				align-items: center;

				img {
					width: 40px;
					height: 40px;
					border-radius: 99px;
					margin-right: 12px;
					background-color: $gray-100;
				}

				small {
					color: var(--text-secondary);
				}
			}
		}
	}

	.show-more {
		text-align: center;
		margin-top: 24px;
		height: 400px;
		width: 100%;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: end;
		padding: 24px;

		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			var(--background-default) 80%
		);

		.show-more-link {
			cursor: pointer;
			text-decoration: underline;
			padding: 2px 5px;
			margin: 0 -5px;
			border-radius: 4px;
			align-items: center;
			font-weight: 520;

			svg {
				margin-left: 8px;
				width: 20px;
				height: 20px;
				position: relative;
			}

			&:hover {
				color: var(--background-default);
				background: var(--text-primary);
				text-decoration: none;
			}

			&:focus-visible {
				outline: 4px solid $blue-500;
			}
		}
	}
}
