.userinfo {
	background: var(--surface-default);
	z-index: 100;

	&--inner {
		padding: 12px 0;

		color: var(--text-disabled);
		justify-content: space-between;
		display: flex;

		@include mq-down(lg) {
			padding: 12px 24px;
		}

		small {
			margin-left: 8px;
		}

		.local-time,
		.commit-code,
		.now-playing {
			display: flex;
			align-items: center;

			small {
				white-space: nowrap;
				overflow: hidden;
			}
		}

		svg {
			width: 20px;
			height: 20px;
		}

		.commit-code {
			margin: 0 24px;

			@include mq-down(sm) {
				margin: 0;
			}

			small {
				display: flex;
				align-items: center;
				margin: 0;

				a {
					margin: 0;
					color: var(--text-disabled);
					text-decoration: none;
					max-width: 50ch;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;

					&:hover {
						color: var(--background-default);
					}
				}
			}
		}

		.now-playing {
			margin-left: auto;

			@include mq-down(sm) {
				margin-bottom: 0;
				margin-left: 0;
				display: none;
			}

			small {
				display: flex;
				align-items: center;
				margin: 0;

				a {
					margin: 0;
					color: var(--text-disabled);
					text-decoration: none;
					max-width: 50ch;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;

					&:hover {
						color: var(--background-default);
					}
				}
			}
		}
	}
}
