<div class="contact">
	<div class="contact__inner">
		<div class="container">
			<r-grid class="contact__main" columns="12">
				<r-cell span="3-10" span-s="row">
					<h2>
						Do you like what you see? Feel free to get in touch!
					</h2>
					<p class="subtitle">
						I am always open to new opportunities and collaborations. If you have any questions or need help with a project, please feel free to
						<a href="mailto:afnizarhilmi@gmail.com">reach out to me via email</a>.
					</p>
				</r-cell>
			</r-grid>
		</div>
		<img class="contact__illustration" src="{{ '/assets/images/footer.png' | url }}" loading="lazy" alt="Illustration"/>
	</div>
</div>