<div class="container">
	<r-grid class="footer__main" columns="12">
		<r-cell class="footer__socialmedia" span="row" span-s="row">
			<p>
				Follow me for more thoughts and updates on
				<a href="">Twitter</a>,
				<a href="">GitHub</a>,
				<a href="">Dribbble</a>,
				<a href="">Behance</a>, and
				<a href="">LinkedIn</a>.
			</p>
		</r-cell>
		<r-cell class="footer__link" span="1-9" span-s="row">
			<ul class="footer__list">
				<li>
					<p>
						See previous versions of this site
					</p>
				</li>
				<li>
					<a href="#">2015</a>
				</li>
				<li>
					<a href="#">2019</a>
				</li>
				<li>
					<a href="#">2020</a>
				</li>
			</ul>
		</r-cell>
		<r-cell class="footer__scrolltotop" span="10-12" span-s="row">
			<button>
				Scroll to top
			</button>
		</r-cell>
	</r-grid>
</div></div>