{# <r-grid columns="12" columns-s="4"> #}
{# <r-cell class="footer" span="2-11" span-s="row" span-lg="row"> #}
{# </r-cell> #}
{# </r-grid> #}

<footer>
	<div class="footer--social b-b">
		<div class="container">
			<r-grid columns="12" columns-s="4">
				<r-cell class="footer" span="2-11" span-s="row" span-lg="row">
					<p>
				Follow me for more thoughts and updates on
				<a
					data-umami-event="footer-threads"
					href="https://www.threads.net/@afnizar_nur"
					>Threads</a
				>,
				<a
					data-umami-event="footer-figma"
					href="https://www.figma.com/@afnizarnur"
					>Figma</a
				>,
				<a
					data-umami-event="footer-ig"
					href="https://www.instagram.com/afnizar_nur/"
					>Instagram</a
				>,
				<a
					data-umami-event="footer-github"
					href="https://github.com/afnizarnur"
					>GitHub</a
				>, and
				<a
					data-umami-event="footer-linkedin"
					href="https://www.linkedin.com/in/afnizarnur/"
					>LinkedIn</a
				>
					</p>
				</r-cell>
			</r-grid>
		</div>
	</div>

	<div
			class="footer--version"
		>
		<div class="container">
			<r-grid columns="12" columns-s="4">
				<r-cell class="footer" span="2-11" span-s="row" span-lg="row">

					<ul class="list">
						<li>
							<p>See previous versions of this site</p>
						</li>
						<li>
							<a
						data-umami-event="footer-2013"
						href="{{ 'https://2013.afnizarnur.com/' | url }}"
						>2013</a
					>
						</li>
						<li>
							<a
						data-umami-event="footer-2019"
						href="{{ 'https://2019.afnizarnur.com/' | url }}"
						>2019</a
					>
						</li>
						<li>
							<a
						data-umami-event="footer-2020"
						href="{{ 'https://2020.afnizarnur.com/' | url }}"
						>2020</a
					>
						</li>
						<li>
							<a
						data-umami-event="footer-2022"
						href="{{ 'https://2022.afnizarnur.com/' | url }}"
						>2022</a
					>
						</li>
					</ul>
				</r-cell>
			</r-grid>
		</div>
	</div>
</footer>