<div class="footer__wrapper">
    <div class="footer__inner">
        {% include "footer/contact.njk" %} {% include "footer/footer.njk" %} {%
        include "footer/copyright.njk" %}
    </div>
</div>
