<r-cell class="b-l work--title-footer" span="1-2" span-s="row" span-lg="row">
    <div class="b-b work--section-title">
        <small aria-hidden="true">Footer</small>
    </div>
</r-cell>
<r-cell class="b-lr footer" span="3-12" span-s="row" span-lg="row">
    <span class="block b-b u-desktop-only"></span>
    <footer>
        <div
			class="footer--version footer-mini"
		>
            <ul class="list">
                <li>
                    <p>See previous versions of this site</p>
                </li>
                <li>
                    <a
						data-umami-event="footer-2013"
						href="{{ 'https://2013.afnizarnur.com/' | url }}"
						>2013</a
					>
                </li>
                <li>
                    <a
						data-umami-event="footer-2019"
						href="{{ 'https://2019.afnizarnur.com/' | url }}"
						>2019</a
					>
                </li>
                <li>
                    <a
						data-umami-event="footer-2020"
						href="{{ 'https://2020.afnizarnur.com/' | url }}"
						>2020</a
					>
                </li>
                <li>
                    <a
						data-umami-event="footer-2022"
						href="{{ 'https://2022.afnizarnur.com/' | url }}"
						>2022</a
					>
                </li>
            </ul>
        </div>

        <div class="footer--local-time-now-playing">
            <div class="local-time">
                {% icon "clock" %}
                <small>
                    <span id="local-time"></span> Serang, Indonesia</small>
            </div>
            <div class="commit-code">
                {% icon "commit" %}
                <a
					href="https://github.com/afnizarnur"
					data-umami-event="footer-commit-code"
				>
                    <small>
                        {{ build.hash }}
                    </small>
                </a>
            </div>
            <div class="now-playing">
                <small id="current-song"></small>
            </div>
        </div>
    </footer>
</r-cell>