.not-found {
    grid-row: 3;

    @include mq-down(lg) {
        border-width: 0px 0px 1px 0px;
    }

    &--content {
        margin: 144px 44px 144px 44px;
        height: 50vh;

        @include mq-down(lg) {
            margin: 64px 24px;
        }
    }
}
