.about {
	&--content {
		@include mq-down(lg) {
			margin: 120px 0;
		}

		@include mq-down(sm) {
			margin: 44px 0;
		}

		&.introduction {
			margin: 144px 0 0;

			@include mq-down(lg) {
				margin: 64px 0 0;
			}

			.headline-container {
				margin: 64px 0;

				@include mq-down(lg) {
					margin: 44px 0;
				}

				@include mq-down(sm) {
					margin: 44px 0;
				}

				.headline {
					margin: 0;

					h1 {
						color: var(--text-inverse-subdued);
						margin-bottom: 16px;
					}

					h2 {
						margin-top: 16px;
						margin-bottom: 0;
					}
				}

				p {
					margin: 0 0 24px;
				}

				img {
					width: 100%;
					height: auto;
					margin: 44px 0;
					border-radius: 16px;

					@include mq-down(lg) {
						margin: 24px 0;
					}
				}
			}
		}

		&.history {
			margin: 64px 0 0;

			.headline-container {
				margin-bottom: 0;

				.headline {
					margin-bottom: 0;
				}

				.content {
					margin-top: 64px;
					margin-bottom: 44px;

					@include mq-down(lg) {
						margin-bottom: 44px;
					}

					p {
						margin-bottom: 24px;
					}
				}
			}
		}

		&.speaking {
			margin: 120px 0 0;

			.headline-container {
				h2 {
					margin: 0;
				}

				@include mq-down(lg) {
					margin-bottom: 24px;
				}
			}
		}

		&.outside-work {
			margin: 120px 0 0;

			.headline-container {
				@include mq-down(lg) {
					margin-bottom: 44px;
				}
			}
		}
	}
}
