.about {
	@include mq-down(lg) {
		border-width: 0px 0px 1px 0px;
	}

	&--content {
		margin: 144px 0px 144px 0px;

		&.introduction {
			margin: 144px 0px 0px 0px;

			hr {
				margin: 0px 44px;
			}

			@include mq-down(lg) {
				margin: 64px 0px 0px 0px;
			}
		}

		.headline-container {
			margin-bottom: 64px;

			.headline {
				margin: 0px 44px 44px 44px;

				@include mq-down(lg) {
					margin: 0px 16px 0px 16px;
				}
			}

			&.introduction {
				@include mq-down(lg) {
					margin: 64px 0px;
					border: none;
				}

				.headline {
					h1 {
						color: var(--text-inverse-subdued);
						margin-bottom: 16px;
					}
					h2 {
						margin-top: 16px;
						margin-bottom: 0px;
					}

					@include mq-down(sm) {
						margin: 0px 16px 0px 16px;
					}
				}

				p {
					margin: 0px 44px 24px 44px;

					@include mq-down(lg) {
						margin: 0px 16px 24px 16px;
					}
				}

				img {
					width: 100%;
					height: auto;
					margin: 0px 0px 64px 0px;

					@include mq-down(lg) {
						margin: 24px 0px 24px 0px;
					}
				}
			}

			&.history {
				.content {
					margin-top: 44px;
					margin-bottom: 64px;

					p {
						margin-bottom: 24px;
					}
				}

				.career-highlights {
					h3 {
						margin-bottom: 64px;
					}
				}
			}
		}
	}
}

hr {
	border: 1px solid var(--border-default);
	border-top: 1px;
}
