.contact {
	&--content {
		padding: 120px 0px 120px 0px;
		position: relative;
		overflow: hidden;

		@include mq-down(lg) {
			padding: 64px 24px 64px 24px;
		}

		.headline-container {
			margin-bottom: 64px;

			.headline {
				margin: 0px 0px 44px 0px;
			}

			h1 {
				margin: 0px;
			}

			.subtitle {
				margin-top: 24px;
			}
		}
	}

	&--social-media-nav {
		margin-top: 120px;

		@include mq-down(lg) {
			margin-top: 64px;
		}

		p {
			color: var(--text-disabled);
			margin: 0px 0px 16px 0px;
		}
	}

	&--faq {
		padding: 64px 0px 0px 0px;

		h3 {
			margin: 0;
		}

		.accordion {
			margin-top: 44px;
			background: var(--surface-default);
			border-radius: $border-radius-16;
			overflow: hidden;

			@include mq-down(sm) {
				border-radius: $border-radius-12;
			}

			&--title {
				padding: 16px 24px;
			}

			&--item {
				&:first-child {
					border: none;
				}
			}
		}
	}

	svg {
		g {
			path {
				fill: var(--background-default);
			}
		}
	}

	&--illustration {
		position: absolute;
		cursor: pointer;
		right: 64px;
		top: -120px;
		animation: bounce-down 0.6s $animation-curve-swoosh forwards;

		&:active {
			animation: bounce-down-click 0.6s $animation-curve-swoosh forwards;
		}

		@include mq-down(lg) {
			right: 44px;
			top: -64px;
			animation: bounce-down-lg 0.6s $animation-curve-swoosh forwards;
		}

		@include mq-down(sm) {
			display: none;
		}
	}
}
