.contact {
	@include mq-down(lg) {
		border-width: 0px 0px 1px 0px;
	}

	&--content {
		padding: 144px 0px 144px 0px;
		position: relative;
		overflow: hidden;

		@include mq-down(lg) {
			padding: 64px 0px 64px 0px;
		}

		.headline-container {
			margin-bottom: 64px;

			.headline {
				margin: 0px 44px 44px 44px;

				@include mq-down(lg) {
					margin: 0px 16px 0px 16px;
				}
			}

			h1 {
				margin: 0;
				margin-bottom: 44px;
			}

			.subtitle {
				max-width: 616px;
			}
		}
	}

	&--illustration {
		position: absolute;
		right: 80px;
		top: -144px;
		animation: bounce-down 0.6s $animation-curve-swoosh forwards;

		@include mq-down(lg) {
			right: 24px;
			top: -64px;
			animation: bounce-down-lg 0.6s $animation-curve-swoosh forwards;
		}
	}
}
