.home {
    .header-block-empty {
        grid-row: 1;
    }

    .header-nav-empty {
        height: 144px;
        grid-row: 1;
    }

    .header-nav-container {
        position: sticky;
        top: 0;
        grid-row: 2;
    }

    span.block {
        height: 36px;
        width: 100%;
        display: inline-block;
    }

    .section-title {
        height: 36px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 12px;
    }

    .intro-container {
        grid-row: 3;

        .intro {
            margin: 144px 44px 144px 44px;

            p {
                margin-bottom: 24px;
            }
        }
    }

    .footer-container {
        .footer {
            padding: 144px 44px 144px 44px;
        }
        .social-media {
            display: inline-block;
            width: 100%;
            padding: 24px 44px;
        }
        .web-version {
            display: inline-block;
            width: 100%;
            padding: 24px 44px;
            margin-bottom: 144px;
        }
    }
}
