.about {
    &--header-empty {
        height: 144px;
        grid-row: 1;
    }

    &--header-container {
        position: sticky;
        top: 0;
        grid-row: 2;
    }

    &--section-title {
        height: 36px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 12px;

        p {
            color: var(--text-primary);
        }
    }

    span.block {
        height: 36px;
        width: 100%;
        display: inline-block;
    }
}
