.big-tags {
	display: flex;
	flex-direction: column;
	gap: 24px;

	li {
		display: flex;
	}

	a {
		text-decoration: none;
		padding: 0;
		margin: 0;

		&:hover {
			background: none;
			p {
				color: var(--background-default);
				background: var(--text-primary);
				border-radius: 99px;
			}
		}

		p {
			margin: 0;
		}
	}
}
