.all-work {
	&.selected-work {
		margin: 0;
	}

	&.selected-work--content {
		margin-top: 144px;

		h1 {
			margin-bottom: 64px;

			@include mq-down(lg) {
				margin-bottom: 44px;
			}
		}

		h2 {
			&.year-title {
				color: var(--text-inverse-subdued);
				margin-bottom: 24px;
			}
		}
	}
}
