.writing {
	&.article-content {
		padding-bottom: 64px;
	}

	&--content {
		margin: 144px 0px;

		@include mq-down(lg) {
			margin: 64px 24px;
		}

		@include mq-down(sm) {
			margin: 64px 24px;
		}

		.title {
			margin: 0px 0px 44px 0px;

			h1 {
				margin: 0px 0px 24px 0px;
			}
		}
	}
}
