.writing {
	&.article-content {
		padding-bottom: 64px;
	}

	&--article-list {
		gap: 24px;
	}

	&--content {
		margin: 144px 0px;

		@include mq-down(lg) {
			margin: 120px 24px;
		}

		@include mq-down(sm) {
			margin: 64px 24px;
		}

		.title {
			margin: 0px 0px 44px 0px;

			@include mq-down(sm) {
				margin: 0px 0px 32px 0px;
			}
		}

		&.writing-tags {
			h1 {
				margin: 0px 0px 64px 0px;

				@include mq-down(lg) {
					margin: 0px 0px 44px 0px;
				}

				@include mq-down(sm) {
					margin: 0px 0px 24px 0px;
				}
			}
		}
	}
}
