#wrapper {
	background-color: #3498db;
	width: 100%;
	height: 798px;
}

.inner-con {
	width: 980px;
	margin: 0 auto;
}

/* PROFILE DESC */

.myprofile {
	text-align: center;
	padding-top: 119px;
}

.myprofile h1 {
	color: #fff;
	font-family: "Myriad Pro", sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}

	.myprofile p {
		color: #fff;
		font-family: "Myriad Pro", sans-serif;
		font-size: 14px;
		width: 400px;
		margin: 0 auto;
		margin-top: 34px;
		line-height: 24px;
	}

.myprofile ul li {
	display: inline-block;
	padding-left: 25px;
	margin-top: 37px;
}

/* STAY IN TOUCH */
.touchme {
	width: 980px;
	height: 286px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #fff;
	margin-top: 53px;
}

	.touchme h2 {
		color: #3397db;
		font-family: "Myriad Pro";
		font-size: 24px;
		text-align: center;
		padding-top: 45px;
	}

	.touchme ul li {
		display: inline-block;
		padding-left: 20px;

	}

.touchme input[type=text]{
	width: 205px;
	height: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #eaeaea;
	border: none;
	padding: 10px;
}

.touchme input[type=submit]{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
	width: 215px;
	height: 45px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #3397db;
	color: white;
	font-weight: bold; 
	cursor: pointer;
}

.touchme ul {
	text-align: center;
	padding-top: 74px;
}

a:hover{
	opacity: .7;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}