.work-detail {
	@include mq-down(lg) {
		border-width: 0px 0px 1px 0px;
	}

	&--content {
		margin: 144px 0px 144px 0px;

		.title {
			margin: 0px 44px 64px 44px;

			@include mq-down(lg) {
				margin: 0px 24px 44px 24px;
			}
		}

		@include mq-down(lg) {
			margin: 64px 0px;
		}
	}

	&--info {
		padding: 0px 44px 0px 44px;
		gap: 16px;

		@include mq-down(lg) {
			padding: 0px 24px 0px 24px;
			gap: 24px;
		}

		@include mq-down(sm) {
			gap: 8px;
		}

		.info-title {
			color: var(--text-primary);
		}
		.info-data {
			color: var(--text-secondary);
		}

		.info-list {
			.row {
				gap: 16px 24px;

				@include mq-down(sm) {
					gap: 0px;

					.info-title {
						margin-bottom: 4px;
					}

					.info-data {
						margin-bottom: 16px;
					}
				}
			}

			ul {
				display: inline-flex;

				li {
					margin-right: 4px;
				}
			}
		}
		.button-list {
			display: flex;
			justify-content: flex-end;

			@include mq-down(lg) {
				justify-content: flex-start;
				p,
				a {
					width: 100%;
					margin-top: 0px;
				}
			}
		}
	}

	&--preview {
		display: flex;
		justify-content: center;
		padding: 24px 0px;

		@include mq-down(lg) {
			border-width: 0px 0px 1px 0px;
		}

		video {
			width: 100%;
			height: auto;

			// Remove black line on video
			// Firefox
			outline: 2px solid #fff;
			outline-offset: -2px;
			// Chrome
			clip-path: inset(1px 1px);
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}
