.other-work-card {
    .thumbnail-wrapper {
        a {
            padding: 0;
            margin: 0;
            border-radius: 0;
            line-height: 0;

            &:hover {
                text-decoration: none;
                background: none;
            }
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            background: var(--surface-default);
        }
    }

    .description {
        gap: 12px;
        margin: 24px 24px;
        color: var(--text-primary);

        @include mq-down(lg) {
            margin: 24px 0px 0px 0px;
        }

        &--project {
            margin-bottom: 16px;
        }
    }

    ul {
        display: inline-flex;

        li {
            margin-right: 4px;
        }
    }
}
