.other-work {
	&--content {
		margin: 64px 0px;

		.title {
			margin: 0px 0px 44px 0px;

			h2 {
				margin: 0;
			}

			@include mq-down(lg) {
				margin: 0px 24px 44px 24px;
			}

			@include mq-down(lg) {
				margin: 0px 24px 24px 24px;
			}
		}

		@include mq-down(lg) {
			margin: 44px 0px;
		}
	}

	&--list-wrapper {
		margin: 24px 0px 0px 0px;
		gap: 24px;

		@include mq-down(lg) {
			margin: 24px 24px 0px 24px;
		}

		@include mq-down(sm) {
			gap: 0px;
		}
	}
}
