<r-cell
    class="selected-work tag-work"
    span="2-11"
    span-s="row"
    span-lg="row"
>
    <div class="selected-work--content tag-work">
        <h1 text-split letters-slide-up>View all work tags</h1>

        <ul class="big-tags">
            {% for tag in collections.works | getAllTags | filterTagList %}
                {% set tagUrl %}/work/tags/{{ tag | slugify }}/{% endset %}
                <li>
                    <a href="{{ tagUrl }}">
                        <p class="body-large badge badge-tags helper">{{ tag }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
</r-cell>