<r-cell
    class="writing--container"
    span="2-11"
    span-s="row"
    span-lg="row"
>
    <div class="writing--content writing-tags">
        <h1>{{ (collections.writing | filterByTag(tag)).length | pluralize('post', 'posts') }} tagged with {{ tag }}</h1>

        <r-grid columns="10" class="writing--article-list">
            {% for item in collections.writing | filterByTag(tag) %}
                <r-cell span="5" span-s="row"class="article-card">
                    <div class="article-header">
                        <div class="article-date">
                            <p>
                                {{ item.date | dateToFormat('d') }}
                            </p>
                            <small class="helper">
                                {{ item.date | dateToFormat('MMM') }}
                            </small>
                        </div>

                        <div class="article-title">
                            <h5>
                                <a href="{{ item.article.url }}">{{ item.data.title }}
                                </a>
                            </h5>
                            <p class="description">{{ item.data.description }}</p>
                        </div>
                    </div>

                    <ul>
                        {% for i in item.data.tags %}
                            <li>
                                <a href="{{ '/writing/tags/' + i | url }}">
                                    <small class="badge badge-tags helper">{{ i }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </r-cell>
            {% endfor %}
        </r-grid>
    </div>
</r-cell>