<r-cell
    class="writing--container"
    span="2-11"
    span-s="row"
    span-lg="row"
>
    <div class="writing--content">
        <h1>{{ (collections.writing | filterByTag(tag)).length | pluralize('post', 'posts') }} tagged with {{ tag }}</h1>

        <r-grid columns="10" class="writing--article-list">
            {% for item in collections.writing | filterByTag(tag) %}
                <r-cell span="5" span-s="row" class="article-card">
                    <h4>
                        <a href="{{ item.url }}">{{ item.data.title }}
                        </a>
                    </h4>
                    <p class="description">{{ item.data.description }}</p>
                    <ul>
                        {% for i in item.data.tags %}
                            <li>
                                <a href="{{ '/writing/tags/' + i | url }}">
                                    <small class="badge badge-tags helper">{{ i }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </r-cell>
            {% endfor %}
        </r-grid>
    </div>
</r-cell>