/* Default Theme */
:root {
	/* Base colors - Light theme by default */
	--color-white: #ffffff;
	--color-black: #191a1b;
	--color-gray-50: #f6f6f7;
	--color-gray-100: #e2e4e5;
	--color-gray-200: #c5c8ca;
	--color-gray-300: #a1a5a7;
	--color-gray-400: #7d8184;
	--color-gray-500: #62676a;
	--color-gray-600: #4d5154;
	--color-gray-700: #404345;
	--color-gray-800: #363739;
	--color-gray-900: #2f3032;
	--color-gray-950: #191a1b;

	/* Blue colors */
	--color-blue-50: #f3fbfe;
	--color-blue-100: #e0f5fd;
	--color-blue-200: #baeafa;
	--color-blue-300: #94def7;
	--color-blue-400: #60cef3;
	--color-blue-500: #2cbeef;
	--color-blue-600: #10a2d3;
	--color-blue-700: #0c7a9f;
	--color-blue-800: #08526b;
	--color-blue-900: #042a36;
	--color-blue-950: #02161c;

	/* Pink colors */
	--color-pink-50: #ffeff8;
	--color-pink-100: #ffeaf6;
	--color-pink-200: #ffc6e7;
	--color-pink-300: #ff8ecf;
	--color-pink-400: #ff56b8;
	--color-pink-500: #ff1ea0;
	--color-pink-600: #e50084;
	--color-pink-700: #ac0064;
	--color-pink-800: #740043;
	--color-pink-900: #3c0023;
	--color-pink-950: #200013;

	/* Green colors */
	--color-green-50: #f7fdf9;
	--color-green-100: #edfff4;
	--color-green-200: #d6f5e2;
	--color-green-300: #b5eecb;
	--color-green-400: #94e6b3;
	--color-green-500: #73de9c;
	--color-green-600: #46d37c;
	--color-green-700: #2bb660;
	--color-green-800: #208948;
	--color-green-900: #155b30;
	--color-green-950: #104424;

	/* Yellow colors */
	--color-yellow-50: #fffee5;
	--color-yellow-100: #fffdd9;
	--color-yellow-200: #fffbbc;
	--color-yellow-300: #fef994;
	--color-yellow-400: #fef76b;
	--color-yellow-500: #fef433;
	--color-yellow-600: #f7eb02;
	--color-yellow-700: #bfb601;
	--color-yellow-800: #888101;
	--color-yellow-900: #504c01;
	--color-yellow-950: #343200;

	/* Orange colors */
	--color-orange-50: #fff2e5;
	--color-orange-100: #ffecd9;
	--color-orange-200: #ffdebd;
	--color-orange-300: #ffc994;
	--color-orange-400: #ffb56b;
	--color-orange-500: #ff9933;
	--color-orange-600: #fa7d00;
	--color-orange-700: #c26100;
	--color-orange-800: #8a4500;
	--color-orange-900: #522900;
	--color-orange-950: #351b00;

	/* Functional colors - Light theme by default */
	--background-default: var(--color-white);
	--text-primary: var(--color-gray-950);
	--text-secondary: var(--color-gray-800);
	--text-disabled: var(--color-gray-500);
	--border-default: var(--color-gray-100);
	--border-disabled: var(--color-gray-200);
	--surface-default: var(--color-gray-50);
	--text-inverse-subdued: var(--color-gray-300);
	--shadow: rgba(25, 26, 27, 0.2);
	--overlay: rgba(25, 26, 27, 0.4);
}

@media (prefers-color-scheme: dark) {
	:root[data-theme="system"] {
		--background-default: var(--color-gray-950);
		--text-primary: var(--color-white);
		--text-secondary: var(--color-gray-50);
		--text-disabled: var(--color-gray-300);
		--border-default: var(--color-gray-700);
		--border-disabled: var(--color-gray-500);
		--surface-default: var(--color-gray-900);
		--text-inverse-subdued: var(--color-gray-300);
		--shadow: rgba(255, 255, 255, 0.2);
		--overlay: rgba(255, 255, 255, 0.4);
	}
}

@media (prefers-color-scheme: light) {
	:root[data-theme="system"] {
		--background-default: var(--color-white);
		--text-primary: var(--color-gray-950);
		--text-secondary: var(--color-gray-800);
		--text-disabled: var(--color-gray-500);
		--border-default: var(--color-gray-100);
		--border-disabled: var(--color-gray-200);
		--surface-default: var(--color-gray-50);
		--text-inverse-subdued: var(--color-gray-300);
		--shadow: rgba(25, 26, 27, 0.2);
		--overlay: rgba(25, 26, 27, 0.4);
	}
}

/* Dark Theme */
:root[data-theme="dark"] {
	--background-default: var(--color-gray-950);
	--text-primary: var(--color-white);
	--text-secondary: var(--color-gray-50);
	--text-disabled: var(--color-gray-300);
	--border-default: var(--color-gray-700);
	--border-disabled: var(--color-gray-500);
	--surface-default: var(--color-gray-900);
	--text-inverse-subdued: var(--color-gray-300);
	--shadow: rgba(255, 255, 255, 0.2);
	--overlay: rgba(255, 255, 255, 0.4);
}

/* Light Theme - explicitly setting light theme */
:root[data-theme="light"] {
	--background-default: var(--color-white);
	--text-primary: var(--color-gray-950);
	--text-secondary: var(--color-gray-800);
	--text-disabled: var(--color-gray-500);
	--border-default: var(--color-gray-100);
	--border-disabled: var(--color-gray-200);
	--surface-default: var(--color-gray-50);
	--text-inverse-subdued: var(--color-gray-300);
	--shadow: rgba(25, 26, 27, 0.2);
	--overlay: rgba(25, 26, 27, 0.4);
}

/* Gray Theme */
:root[data-theme="gray"] {
	--background-default: var(--color-gray-100);
	--text-primary: var(--color-gray-950);
	--text-secondary: var(--color-gray-800);
	--text-disabled: var(--color-gray-500);
	--border-default: var(--color-gray-200);
	--border-disabled: var(--color-gray-300);
	--surface-default: var(--color-gray-50);
	--text-inverse-subdued: var(--color-gray-300);
	--shadow: rgba(25, 26, 27, 0.2);
	--overlay: rgba(25, 26, 27, 0.4);
}

/* Pink Theme */
:root[data-theme="pink"] {
	--background-default: var(--color-gray-950);
	--text-primary: var(--color-pink-200);
	--text-secondary: var(--color-pink-100);
	--text-disabled: var(--color-pink-100);
	--border-default: var(--color-gray-700);
	--border-disabled: var(--color-gray-500);
	--surface-default: var(--color-pink-900);
	--text-inverse-subdued: var(--color-pink-200);
	--shadow: rgba(255, 198, 231, 0.2);
	--overlay: rgba(255, 198, 231, 0.4);
}

/* Blue Theme */
:root[data-theme="blue"] {
	--background-default: var(--color-gray-950);
	--text-primary: var(--color-blue-300);
	--text-secondary: var(--color-blue-200);
	--text-disabled: var(--color-blue-100);
	--border-default: var(--color-gray-700);
	--border-disabled: var(--color-gray-500);
	--surface-default: var(--color-gray-900);
	--text-inverse-subdued: var(--color-gray-300);
	--shadow: rgba(148, 222, 247, 0.2);
	--overlay: rgba(148, 222, 247, 0.4);
}
