:root {
    --background-default: #ffffff;
    --background-inverse: #191A1B;
    --surface-primary-inverse: #191A1B;
    --surface-secondary-inverse: #323437;
    --surface-purple: #F5EFFF;
    --surface-pink: #FAE7F7;
    --surface-gray: #F3F4F8;
    --surface-blue: #E7EFFA;
    --surface-orange: #FFF0F0;
    --surface-green: #E4F3EA;
    --text-primary: #191A1B;
    --text-secondary: #474A4C;
    --text-primary-inverse: #FFFFFF;
    --text-secondary-inverse: #D4D4D4;
    --text-on-surface-primary: #191A1B;
    --text-on-surface-secondary: #474A4C;
    --text-on-surface-primary-inverse: #FFFFFF;
    --text-on-surface-secondary-inverse: #D4D4D4;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background-default: #191A1B;
    --background-inverse: #FFFFFF;
    --surface-primary-inverse: #252627;
    --surface-secondary-inverse: #323437;
    --surface-purple: #F5EFFF;
    --surface-pink: #FAE7F7;
    --surface-gray: #F3F4F8;
    --surface-blue: #E7EFFA;
    --surface-orange: #FFF0F0;
    --surface-green: #E4F3EA;
    --text-primary: #FFFFFF;
    --text-secondary: #D4D4D4;
    --text-primary-inverse: #191A1B;
    --text-secondary-inverse: #474A4C;
    --text-on-surface-primary: #191A1B;
    --text-on-surface-secondary: #474A4C;
    --text-on-surface-primary-inverse: #FFFFFF;
    --text-on-surface-secondary-inverse: #D4D4D4;
    }
}


[data-theme='default'] {
    --background-default: #ffffff;
    --background-inverse: #191A1B;
    --surface-primary-inverse: #191A1B;
    --surface-secondary-inverse: #323437;
    --surface-purple: #F5EFFF;
    --surface-pink: #FAE7F7;
    --surface-gray: #F3F4F8;
    --surface-blue: #E7EFFA;
    --surface-orange: #FFF0F0;
    --surface-green: #E4F3EA;
    --text-primary: #191A1B;
    --text-secondary: #474A4C;
    --text-primary-inverse: #FFFFFF;
    --text-secondary-inverse: #D4D4D4;
    --text-on-surface-primary: #191A1B;
    --text-on-surface-secondary: #474A4C;
    --text-on-surface-primary-inverse: #FFFFFF;
    --text-on-surface-secondary-inverse: #D4D4D4;
}

[data-theme='dark'] {
    --background-default: #191A1B;
    --background-inverse: #FFFFFF;
    --surface-primary-inverse: #252627;
    --surface-secondary-inverse: #323437;
    --surface-purple: #F5EFFF;
    --surface-pink: #FAE7F7;
    --surface-gray: #F3F4F8;
    --surface-blue: #E7EFFA;
    --surface-orange: #FFF0F0;
    --surface-green: #E4F3EA;
    --text-primary: #FFFFFF;
    --text-secondary: #D4D4D4;
    --text-primary-inverse: #191A1B;
    --text-secondary-inverse: #474A4C;
    --text-on-surface-primary: #191A1B;
    --text-on-surface-secondary: #474A4C;
    --text-on-surface-primary-inverse: #FFFFFF;
    --text-on-surface-secondary-inverse: #D4D4D4;
}

[data-theme='gray'] {
    --background-default: #D1D1D1;
    --background-inverse: #191A1B;
    --surface-primary-inverse: #191A1B;
    --surface-secondary-inverse: #323437;
    --surface-purple: #F5EFFF;
    --surface-pink: #FAE7F7;
    --surface-gray: #F3F4F8;
    --surface-blue: #E7EFFA;
    --surface-orange: #FFF0F0;
    --surface-green: #E4F3EA;
    --text-primary: #191A1B;
    --text-secondary: #474A4C;
    --text-primary-inverse: #FFFFFF;
    --text-secondary-inverse: #D4D4D4;
    --text-on-surface-primary: #191A1B;
    --text-on-surface-secondary: #474A4C;
    --text-on-surface-primary-inverse: #FFFFFF;
    --text-on-surface-secondary-inverse: #D4D4D4;
}

[data-theme='pink'] {
    --background-default: #C59BBE;
    --background-inverse: #FFFFFF;
    --surface-primary-inverse: #191A1B;
    --surface-secondary-inverse: #323437;
    --surface-purple: #F5EFFF;
    --surface-pink: #FAE7F7;
    --surface-gray: #F3F4F8;
    --surface-blue: #E7EFFA;
    --surface-orange: #FFF0F0;
    --surface-green: #E4F3EA;
    --text-primary: #FFFFFF;
    --text-secondary: #FFFFFF;
    --text-primary-inverse: #191A1B;
    --text-secondary-inverse: #474A4C;
    --text-on-surface-primary: #191A1B;
    --text-on-surface-secondary: #474A4C;
    --text-on-surface-primary-inverse: #FFFFFF;
    --text-on-surface-secondary-inverse: #D4D4D4;
}

[data-theme='hacker'] {
    --background-default: #191A1B;
    --background-inverse: #FFFFFF;
    --surface-primary-inverse: #030304;
    --surface-secondary-inverse: #323437;
    --surface-purple: #F5EFFF;
    --surface-pink: #FAE7F7;
    --surface-gray: #F3F4F8;
    --surface-blue: #E7EFFA;
    --surface-orange: #FFF0F0;
    --surface-green: #E4F3EA;
    --text-primary: #00CF35;
    --text-secondary: #2DBA51;
    --text-primary-inverse: #191A1B;
    --text-secondary-inverse: #474A4C;
    --text-on-surface-primary: #191A1B;
    --text-on-surface-secondary: #474A4C;
    --text-on-surface-primary-inverse: #00CF35;
    --text-on-surface-secondary-inverse: #2DBA51;
}
