---
layout: base
title: About
eleventyNavigation:
    key: About
    order: 2
permalink: /about/
---

<div class="container about">
    <r-grid columns="12" columns-s="4">
        {% include "header.njk" %}
        {% include "about/about.njk" %}
        {% include "about/history.njk" %}
        {% include "footer.njk" %}
    </r-grid>
</div>