---
layout: base
title: About
eleventyNavigation:
    key: About
    order: 2
permalink: /about/
---

{% include "userinfo.njk" %}
{% include "header.njk" %}

<div class="container about">
	<r-grid columns="12" columns-s="4">
		{% include "about/about.njk" %}
		{% include "about/history.njk" %}
		{% include "about/speaking.njk" %}
		{% include "about/outside-work.njk" %}
		{% include "footer/cta.njk" %}
	</r-grid>
</div>

{% include "footer/footer.njk" %}