---
layout: base
permalink: /about/
eleventyNavigation:
    key: About
---

<main>
    <div class="container">{% include "about/intro.njk" %}</div>

    {% include "about/talks.njk" %}
</main>

{% include "about/colophon.njk"%} {% include "footer/index.njk"%}
