---
layout: base
title: Contact
eleventyNavigation:
    key: Contact
    order: 3
permalink: /contact/
---

{% include "userinfo.njk" %}
{% include "header.njk" %}

<div class="container contact">
	<r-grid columns="12" columns-s="4">
		{% include "contact/contact.njk" %}
	</r-grid>
</div>

{% include "footer/mini.njk" %}