---
pagination:
  data: collections.writing
  size: 1
  alias: post
permalink: "social-card/{{ post.url }}/"
eleventyExcludeFromCollections: true
---

<html>
    <head>
        <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}"/>
        <style>
            @font-face {
                font-family: "Mona Sans";
                src: url("../fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("../fonts/Mona-Sans.woff2") format("woff2-variations");
                font-weight: 200 900;
                font-stretch: 75% 125%;
                font-display: swap;
            }

            @font-face {
                font-family: "Inter var";
                src: url("../fonts/Inter-roman.var.woff2") format("woff2");
                font-weight: 100 900;
                font-style: normal;
                font-named-instance: "Regular";
                font-display: swap;
            }
        </style>
    </head>
    <body class="social-card">
        <div class="box">
            <div class="container">
                <img src="{{ '/assets/images/afnizar-nur-ghifari.png' | url }}" alt="Afnizar Nur Ghifari" height="70" width="70" decoding="async"/>
                <h1 class="headline">{{ post.data.title }}</h1>
                <p>Afnizar Nur Ghifari</p>
            </div>
        </div>
    </body>
</html>