---
pagination:
  data: collections.writing
  size: 1
  alias: post
permalink: "social/{{ post.url }}/"
eleventyExcludeFromCollections: true
---

<html>
    <head>
        <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}"/>
        <link rel="stylesheet" href="{{ '/assets/styles/social.css' | url }}"/>
    </head>
    <body>
        <div class="box">
            <div class="container">
                <h2 class="title">{{ post.data.title }}</h2>
                <p>Afnizar Nur Ghifari</p>
            </div>
        </div>
    </body>
</html>