---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ collections[tag].length | pluralize('work') }} tagged with {{ tag }}"
permalink: /work/tags/{{ tag | slugify }}/
---

<div class="container work">
  <r-grid columns="12" columns-s="4">
    {% include "header.njk" %}
    {% include "tags/work.njk" %}
    {% include "footer.njk" %}
  </r-grid>
</div>