---
layout: base
eleventyNavigation:
    key: Work
    order: 1
permalink: /work/
---

<div class="container work">
    <r-grid columns="12" columns-s="4">
        {% include "header.njk" %}
        {% include "work/work.njk" %}
        {% include "footer.njk" %}
    </r-grid>
</div>