---
layout: base
eleventyExcludeFromCollections: true
pagination:
    data: selectedWork
    size: 1
    alias: work
permalink: "work/{{ work.title | slugify }}/"
---

<div class="container work">
    <r-grid columns="12" columns-s="4">
        {% include "header.njk" %}
    </r-grid>
</div>