---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - works
    - worksbyyear
    - selected
eleventyComputed:
  title: "{% set filteredWorks = collections.works | filterByTag(tag) %}{{ filteredWorks | length | pluralize('work') }} tagged with {{ tag }}"
permalink: /work/tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
---

{% include "userinfo.njk" %}
{% include "header.njk" %}

<div class="container work">
  <r-grid columns="12" columns-s="4">
    {% include "work/tags/work.njk" %}
  </r-grid>
</div>