---
layout: base
title: Work
eleventyNavigation:
    key: Work
    order: 1
permalink: /work/
---

{% include "userinfo.njk" %}
{% include "header.njk" %}

<div class="container work">
	<r-grid columns="12" columns-s="4">
		{% include "work/work.njk" %}
	</r-grid>
</div>

{% include "footer/social.njk" %}