---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - writing
eleventyComputed:
  title: "{% set filteredWritings = collections.writing | filterByTag(tag) %}{{ filteredWritings | length | pluralize('post') }} tagged with {{ tag }}"
permalink: /writing/tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
---

{% include "userinfo.njk" %}
{% include "header.njk" %}

<div class="container writing">
  <r-grid columns="12" columns-s="4">
    {% include "writing/tags/writing.njk" %}
  </r-grid>
</div>