---
layout: base
title: Writing
eleventyNavigation:
    key: Writing
    order: 2
permalink: /writing/
---

{% include "userinfo.njk" %}
{% include "header.njk" %}

<div class="container writing">
    <r-grid columns="12" columns-s="4">
        {% include "writing/writing.njk" %}
    </r-grid>
</div>

{% include "footer/social.njk" %}