<r-cell
    class="border-left-bottom work--title-intro"
    span="1-2"
    span-s="row"
    span-lg="row"
>
    <div class="border-bottom work--section-title">
        <small aria-hidden="true">Details</small>
    </div>
</r-cell>

<r-cell
    class="border-left-right-bottom work-detail"
    span="3-12"
    span-s="row"
    span-lg="row"
>
    <span class="block border-bottom u-desktop-only"></span>
    <div class="work-detail--content">
        <div class="title">
            <h1>{{title}}</h1>

            <p class="subtitle">
                {{ description }}
            </p>
        </div>
        <r-grid columns="10" class="work-detail--info">
            <r-cell span="1-7" span-lg="1-10" span-s="row" class="info-list">
                <r-grid columns="10" class="row">

                    {% if role %}
                        <r-cell span="1-2" span-s="row">
                            <p class="bold info-title">Role</p>
                        </r-cell>
                        <r-cell span="3-10" span-s="row">
                            <p class="info-data">{{ role }}</p>
                        </r-cell>
                    {% endif %}

                    {% if teammates %}
                        <r-cell span="1-2" span-s="row">
                            <p class="bold info-title">Teammates</p>
                        </r-cell>
                        <r-cell span="3-10" span-s="row">
                            <p class="info-data">
                                {{ teammates|join(', ') }}
                            </p>
                        </r-cell>
                    {% endif %}

                    {% if deliverables %}
                        <r-cell span="1-2" span-s="row">
                            <p class="bold info-title">Deliverables</p>
                        </r-cell>
                        <r-cell span="3-10" span-s="row">
                            <p class="info-data">
                                {{ deliverables|join(', ') }}
                            </p>
                        </r-cell>
                    {% endif %}

                    {% if company %}
                        <r-cell span="1-2" span-s="row">
                            <p class="bold info-title">Company</p>
                        </r-cell>
                        <r-cell span="3-10" span-s="row">
                            <p class="info-data">{{ company }}</p>
                        </r-cell>
                    {% endif %}

                </r-grid>
            </r-cell>
            {% if url %}
                <r-cell span="8-10" span-s="row" span-lg="row" class="button-list">
                    <p class="body-large">
                        <a href="{{ url }}" class="button btn-outline">See live {% icon "arrow-right" %}
                        </a>
                    </p>
                </r-cell>
            {% endif %}
        </r-grid>
    </div>
</r-cell>

{% if preview %}
    <r-cell class="border-left-right-bottom work-detail--preview" span="12" span-s="row">
        {% image "work/"+preview, "Thumbnail of " +
                item.title, "(max-width: 480px) 100vw, (max-width: 768px) 90vw,
                1280px", 1107.83, 866 %}
    </r-cell>
{% endif %}