<r-cell
            class="other-work"
            span="2-11"
            span-s="row"
            span-lg="row"
        >
	<div class="other-work--content">
		<div class="title">
			<h2>On to the next</h2>
		</div>

		<r-grid columns="10" class="other-work--list-wrapper">
			{% include "work/other-work-card.njk" %}
		</r-grid>
	</div>
</r-cell>