<r-cell
    class="selected-work all-work"
    span="2-11"
    span-s="row"
    span-lg="row"
>
	<div class="selected-work--content all-work">
		<h1>View all work</h1>

		{% for year, yearWorks in collections.worksbyyear %}
			<h2 class="year-title">{{ year }}</h2>
			{% for item in yearWorks | reverse %}
				<div class="selected-work--item">
					<div class="thumbnail-wrapper">
						{% if item.data.draft %}
							<div class="badge badge-draft">
								<small class="helper">Coming Soon</small>
							</div>
						{% endif %}

						{% if item.data.draft %}
							{% image "work/"+item.data.thumbnail, "Thumbnail of " + item.data.title,
                    "(max-width: 480px) 100vw, (max-width: 768px) 90vw, 1280px",
                    955, 689 %}

						{% else %}
							<a href="{{ item.url }}">
								{% image "work/"+item.data.thumbnail, "Thumbnail of " + item.data.title,
                    "(max-width: 480px) 100vw, (max-width: 768px) 90vw, 1280px",
                    955, 689 %}
							</a>
						{% endif %}
					</div>

					<r-grid columns="10" class="description">
						<r-cell span="3" span-s="row">
							<p class="body-large">
								{% if item.data.draft %}
									{{ item.data.title }}
								{% else %}
									<a href="{{ item.url }}">{{ item.data.title }}</a>
								{% endif %}
							</p>
						</r-cell>
						<r-cell span="4-10" span-s="row">
							<p class="description--project">{{ item.data.description }}</p>
							<ul>
								{% for i in item.data.tags %}
									<li>
										<a href="{{ '/work/tags/' + i | slugify | url }}">
											<small class="badge badge-tags helper">{{ i }}</small>
										</a>
									</li>
								{% endfor %}
							</ul>
						</r-cell>
					</r-grid>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
</r-cell>