<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">Introduction</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="about--content introduction">
		<div class="headline-container introduction">
			<div class="headline">
				<h1>Salam kenal</h1>
				<h2 text-split letters-slide-up>
					I'm an Indonesian designer over +5 years of experience
					crafting interfaces and experiences
				</h2>
			</div>

			{% image "about/afnizar-nur-ghifari-portrait.png", "Afnizar Nur
			Ghifari", "(min-width: 1440px) 100vw, 50vw", "960px", "620px" %}

			<p class="body-large">
				Office ipsum you must be muted. Or donuts another web hanging
				is. As moving 2 2 would 4-blocker tentative quick-win teams
				lunch. Buy-in indicators me harvest jumping shelf-ware. Needed
				speed die investigation pollination latest an box. Working
				problem let's pollination bake downloaded issues winning
				performance. Sexy site socialize ui shelf-ware identify already
				container for corporate. Backwards web air needed sorry cloud
				monday. Horse productize stronger team eat team teams red-flag.
			</p>
			<p>
				Office ipsum you must be muted. Or donuts another web hanging
				is. As moving 2 2 would 4-blocker tentative quick-win teams
				lunch. Buy-in indicators me harvest jumping shelf-ware. Needed
				speed die investigation pollination latest an box. Working
				problem let's pollination bake downloaded issues winning
				performance. Sexy site socialize ui shelf-ware identify already
				container for corporate. Backwards web air needed sorry cloud
				monday. Horse productize stronger team eat team teams red-flag.
			</p>
			<p>
				Reach weaponize dear existing another as strategy should. Define
				give got dogpile my / the problem mindfulness. Algorithm deploy
				happenings q1 kpis kpis info pin going. Thought closest journey
				pin crank latest. Opportunity due technologically territories
				people status pin muted on criticality. Do place need shoot
				welcome boys don't wiggle barn.
			</p>
		</div>
		<div class="quick-nav">
			<ul>
				<li><a href="#process">Learn how I work</a></li>
				<li><a href="#background">Read my background</a></li>
				<li><a href="#experience">Work experience</a></li>
				<li><a href="#talk">Knowledge sharing</a></li>
				<li><a href="#outside-work">Outside work</a></li>
			</ul>
		</div>
	</div>
</r-cell>
