<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">Introduction</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="about--content introduction">
		<div class="headline-container introduction">
			<div class="headline">
				<h1>Salam kenal</h1>
				<h2 text-split letters-slide-up>
					I'm an Indonesian designer over +5 years of experience
					crafting interfaces and experiences
				</h2>
			</div>

			{% image "about/afnizar-nur-ghifari-portrait.jpg", "Afnizar Nur
			Ghifari Portrait Image", "(min-width: 1440px) 100vw, 50vw", "960px",
			"620px" %}

			<p class="body-large">
				I am passionate about all areas of design and I believe that
				design provides a better approach to solving human problems. I
				deeply value human-centered design that is meaningful and
				impactful.
			</p>
			<p>
				As a designer with an engineering background, I am skilled in
				thinking in code and system architecture, while also being
				capable of abstract and high-level thinking. Throughout my
				journey, I have come to understand that design and engineering
				complement each other to create extraordinary results.
			</p>
			<p>
				In my work, I primarily engage in the end-to-end workflow of
				product development. This involves conducting user research to
				gain a better understanding of users and their business needs,
				experimenting through prototyping, and performing user testing
				to validate and enhance the design.
			</p>
			<p>
				Outside of my design work, you can find me doing photography,
				working on side projects, reading books, watching football, or
				playing video games.
			</p>
		</div>
		<!-- <div class="quick-nav">
			<ul>
				<li>
					<a href="#process">Learn how I work</a>
				</li>
				<li>
					<a href="#background">Read my background</a>
				</li>
				<li>
					<a href="#experience">Work experience</a>
				</li>
				<li>
					<a href="#talk">Knowledge sharing</a>
				</li>
				<li>
					<a href="#outside-work">Outside work</a>
				</li>
			</ul>
		</div> -->
	</div>
</r-cell>
