<r-cell
    class="b-left-bottom work--title-intro"
    span="1-2"
    span-s="row"
    span-lg="row"
>
    <div class="b-bottom work--section-title">
        <small aria-hidden="true">Introduction</small>
    </div>
</r-cell>

<r-cell
    class="b-left-right-bottom selected-work"
    span="3-12"
    span-s="row"
    span-lg="row"
>
    <span class="block b-bottom u-desktop-only"></span>
    <div class="selected-work--content work">
        <h2 text-split letters-slide-up>About</h2>

    </div>
</r-cell>