<section class="bio">
    <r-grid class="bio__main" columns="12">
        <r-cell span="1-8" span-s="row" class="content">
            <h3>
                I'm a software designer, prototyper, and a part-time 3D artist.
                I'm currently a Product Designer at Square, working remotely
                from Boston. If you're a creative in Boston, say hi!
            </h3>
            <p class="subtitle">
                Most recently, I was a Senior Product Designer at Delphia.
                Before that, I worked at startups in Seoul such as Dable, Pinch,
                Creatrip, and Dotface. Before that, I was a design intern at
                Adobe in San Francisco.
            </p>
            <p class="subtitle">
                At Carnegie Mellon University's Master of HCI program, I built a
                design system for a lunar rover's ground software. I also worked
                with Honda R&D to design a user research synthesis tool.
            </p>
            <p class="subtitle">
                At Yonsei University in Seoul, I explored interaction design,
                visual design, motion graphic design, data visualization, and
                computer science.
            </p>
            <p class="subtitle">
                I love words that start with P: people, process, problem
                solving, paper sketches, prototyping, programming, polished
                design, pixel-perfect products, design system, UI animation, and
                Simulated Reality.
            </p>
        </r-cell>
        <r-cell span="9-12" span-s="row" class="profile-image">
            <img
                src="{{ '/assets/images/afnizarnur.png' | url }}"
                loading="lazy"
            />
        </r-cell>
    </r-grid>
</section>
