<div class="colophon">
	<div class="container">
		<r-grid class="colophon__main" columns="12">
			<r-cell span="12" span-s="row">
				<section>
					<h4>
						About this website
					</h4>
				</section>
			</r-cell>
			<r-cell span="1-6" class="colophon__content" span-s="row">
				<div class="title">
					{% icon "terminal" %}
					<p class="subtitle">
						Development
					</p>
				</div>
				<p class="body">
					This site is hosted on Netlify. It is produced using Eleventy, a static site generator written in. Jekyll can generate a static web site from text content stored in markdown files and a theme, in this case the Chicago Design System.
				</p>
			</r-cell>
			<r-cell span="7-12" class="colophon__content" span-s="row">
				<div class="title">
					{% icon "edit-3" %}
					<p class="subtitle">
						Design
					</p>
				</div>
				<p class="body">
					The Chicago Design System theme was developed in pro bono partnership with Ogilvy, and type designer Patric King of House of Pretty. Typefaces Big Shoulders (coming soon!), Saira, Roboto, and Lora are hosted on Google fonts
				</p>
			</r-cell>
		</r-grid>
	</div>
</div>