<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">Short history</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
	id="history"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="about--content">
		<div class="headline-container history">
			<div class="headline">
				<h2 text-split letters-slide-up>
					A short history about myself
				</h2>
				<p class="subtitle">
					I was born and raised in a small, developing area in the
					heart of Java, known for the warm hospitality of its people
					and its vehicle exhaust factories. Culturally, design was
					rarely a topic of conversation here, and I had never been
					exposed to it. That all changed when the internet started
					becoming accessible to the local community.
				</p>

				<div class="content">
					<div class="picture-container picture-history">
						<div class="pic-frame-history">
							{% image "/about/kids.png", "Kids", "(min-width:
							1440px) 100vw, 50vw", 170 %}
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>

						<div class="pic-frame-history">
							{% image "/about/mid.png", "Mid", "(min-width:
							1440px) 100vw, 50vw", 269 %}
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>

						<div class="pic-frame-history">
							{% image "/about/now.png", "Now", "(min-width:
							1440px) 100vw, 50vw", 170 %}
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>

					<p>
						As the internet found its way into our lives, it brought
						with it a wave of new possibilities and knowledge. I
						remember the first time I stumbled upon an online forum
						that have a community to design a forum signature. It
						was like discovering a treasure chest filled with
						colors, shapes, animation, and creativity I had never
						seen before.
					</p>

					<p>
						Fueled by this unexpected discovery, I was eager to
						learn more. Despite facing obstacles like not having my
						own computer, my determination to learn remained strong.
						I would often visit internet cafes to expand my
						knowledge. At the same time, my interest for technology
						and computers started to blossom during my middle school
						years.
					</p>

					<p>
						As I entered high school, I made a life-changing
						decision to pursue vocational education, going further
						away from my hometown. This meant parting ways with my
						parents and friends to live independently for a while.
						This educational path provided the solid groundwork for
						my future and allowed me to nurture my skills in design
						and technology.
					</p>

					<p>
						During my high school years, my enthusiasm for design
						and technology flourished. I elevate my skills by
						immersing myself in a web design competition called LKS
						(Lomba Kompetensi Siswa). This competition was not just
						a test of my technical abilities in design and code; it
						was also a spark that ignited my competitive nature.
					</p>

					<p>
						After that competition, I also start offering my
						services to create landing pages for websites. I priced
						my services at an affordable rate of only Rp200.000,
						which was roughly equivalent to 15 USD. It was a modest
						beginning, but I was determined to turn it into my
						playground for learning.
					</p>

					<p class="bold">
						My high school years were a crucial chapter in my story,
						where I not only pursued my education but also a path
						that would eventually lead me to a fulfilling career in
						the design field. The lessons I learned and the
						experiences I gained during those years continue to
						shape my journey to this day.
					</p>
				</div>

				<hr />

				{% include "about/career.njk" %}
			</div>
		</div>
	</div>
</r-cell>
