<r-cell class="about" span="2-11" span-s="row" span-lg="row" id="history">
	<div class="about--content">
		<div class="headline-container history">
			<div class="headline">
				<h2 text-split letters-slide-up>
					A short history of how I into design
				</h2>
				<p class="subtitle">
					I was born and raised in a small developing regency in the
					heart of Java, known for the warm hospitality of its people
					and vehicle exhaust factories. Here, design was rarely a
					topic of conversation, and I had never been exposed to it.
					That all changed when the internet started becoming
					accessible to the local.
				</p>

				<div class="content">
					<div class="picture-container picture-history">
						<div class="pic-frame">
							{% image "/about/a-kid.png", "A picture of a kids",
							"(min-width: 1440px) 100vw, 50vw", 170, 169 %}
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>

						<div class="pic-frame">
							{% image "/about/competition-lks.png", "Waiting
							judges to check progress in competition",
							"(min-width: 1440px) 100vw, 50vw", 269, 169 %}
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>

						<div class="pic-frame">
							{% image "/about/graduation.png", "Me and my family
							on graduation day", "(min-width: 1440px) 100vw,
							50vw", 170, 169 %}
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>

					<p>
						As the internet found its way into our lives, it brought
						with it a new possibilities and knowledge. I remember
						the first time I stumbled upon an online forum that have
						a community to design a forum signature. It was like
						discovering a treasure chest filled with colors, shapes,
						animation, and creativity I had never seen before.
					</p>

					<p>
						Fueled by this unexpected discovery, I was eager to
						learn more. Despite facing obstacles like not having my
						own computer, my determination to learn remained strong.
						I would often visit internet cafes to expand my
						knowledge. At the same time, my interest for technology
						and computers started to grow during my middle school
						years.
					</p>

					<p>
						As I entered high school, I made a life-changing
						decision to pursue vocational education that far away
						from my hometown. This meant parting ways with my
						parents and friends to live independently for a while.
						This educational path provided the solid groundwork for
						my future and allowed me to nurture my skills in design
						and technology.
					</p>

					<p>
						During my high school years, my enthusiasm for design
						and technology flourished. I elevate my skills by
						immersing myself in a web design competition such as
						Lomba Kompetensi Siswa (LKS). In addition to solo
						competition, alongside friends, I formed teams,
						participating in many product development competitions
						and hackathons. Each competition served more than just a
						technical challenge; it also ignited my spirit for
						teamwork and competitive nature.
					</p>

					<div class="picture-container picture-comp">
						<figure>
							<div class="pic-frame">
								{% image "/about/dreamakasa-team-win-competition.png", "A picture of me when got prize when winning competition",
							"(min-width: 1440px) 100vw, 50vw", 363, 228 %}

								<ul>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
							<figcaption>
								<small>Yes, that's me, the blurred figure</small>
							</figcaption>
						</figure>
					</div>

					<p>
						After that competition, I also start offering my
						services to create landing pages for websites. I priced
						my services at an affordable rate of only Rp200.000,
						which was roughly equivalent to 12 USD. It was a modest
						beginning, but I was determined to turn it into my
						playground for learning.
					</p>

					<p class="bold">
						My high school years were a crucial chapter in my story,
						where I not only pursued my education but also a path
						that would eventually lead me to a fulfilling career in
						the design field. The lessons I learned and the
						experiences I gained during those years continue to
						shape my journey to this day.
					</p>
				</div>

				<hr/>

				{% include "about/career.njk" %}
			</div>
		</div>
	</div>
</r-cell>