<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">History and experience</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
	id="history"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="about--content">
		<div class="headline-container history">
			<div class="headline">
				<h2 text-split letters-slide-up>
					A little history about myself
				</h2>
				<p class="subtitle">
					I grew up in a small coastal town in the east of England.
					Not much happens in a town like that, but the beaches are
					nice. My choices at school were pretty limited, my favourite
					subjects were Computing, Media Studies, and Art - ‘design’
					wasn’t something anyone was familiar with.
				</p>

				<div class="content">
					<div class="picture-container picture-history">
						<div class="pic-frame">
							<img
								src="/assets/images/about/kids.png"
								alt="Kids"
							/>
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>

						<div class="pic-frame">
							<img src="/assets/images/about/mid.png" alt="Mid" />
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>

						<div class="pic-frame">
							<img src="/assets/images/about/now.png" alt="Now" />
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>

					<p>
						I earned my undergraduate degree in cultural
						anthropology at a small, hippie, liberal arts college in
						the United States. While I adore anthropology, it's not
						terribly employable (unless you want to be an academic
						or a military advisor) and I promptly switched into
						freelance design and illustration to pay rent. I started
						developing my visual design skills at age 14 when I
						first bootlegged a copy of Photoshop to make my own icon
						sets, but never realised you could get paid for that.
					</p>

					<p>
						A few years later, sat at a desk of a small design
						agency, I was again Googling: “What do Service Designers
						do?”, “What do Product Designers do?”. I loved parts of
						Graphic Design as a job, but my interest in User
						Experience, and User Interfaces had been growing. It was
						an itch that couldn’t be scratched designing logos and
						building small Wordpress sites. The empathy and
						considerate approaches of Product Design, combined with
						strategy and process appealed to me.
					</p>

					<p>
						A few more years later I’m happiest doing a little bit
						of everything that takes an idea and turns it into a
						working product or service. In my spare time (not
						chasing my toddler around) I tinker with new web
						technologies, read as much as I can about design, walk,
						and fawn over photos of brutalist architecture
					</p>
				</div>

				<hr />

				<div>
					<h3>Career highlights</h3>
				</div>
			</div>
		</div>
	</div>
</r-cell>
