<r-grid class="intro__main" columns="12">
	<r-cell span="3-10" span-s="row">
		<h1 class="intro__heading">
			It was great to having you
			<span class="font-highlight">landed in this page</span>
		</h1>

		<p class="subtitle">
			Seorang warga Indonesia jika bertemu orang baru, akan memulai dengan mengucap–“Salam kenal” or nice to meet you! So to you too.
		</p>
	</r-cell>
</r-grid>