<r-grid class="intro__main" columns="12">
    <r-cell span="3-10" span-s="row">
        <h1 class="intro__heading">
            It was great to having you landed in this page
        </h1>

        <p class="subtitle">
            Indonesians usually say "Salam kenal" when meeting new people, which
            means "nice to meet you!"
        </p>
    </r-cell>
</r-grid>
