<section class="misc">
    <div class="misc__wrapper">
        <div class="container">
            <r-grid class="misc__main" columns="12">
                <r-cell span="3-10" span-s="row">
                    <h2>
                        A little things
                        <span class="font-highlight">about me</span>
                    </h2>
                </r-cell>
                <r-cell class="little-about__content" span="3-10" span-s="row">
                    <h4>Here is a cat for you</h4>
                    <p>
                        I'm a software designer, prototyper, and a part-time 3D
                        artist. I'm currently a Product Designer at Square,
                        working remotely from Boston. If you're a creative in
                        Boston, say hi!.
                    </p>
                </r-cell>
                <r-cell class="little-about__image" span="2-5" span-s="row">
                    <img
                        src="{{ '/assets/images/about/afnizarnur.png' | url }}"
                        loading="lazy"
                    />
                </r-cell>
                <r-cell class="little-about__image" span="6-11" span-s="row">
                    <img
                        src="{{
                            '/assets/images/about/playing-games.png' | url
                        }}"
                        loading="lazy"
                    />
                </r-cell>
            </r-grid>
        </div>
    </div>
</section>
