<section class="misc">
    <div class="misc__wrapper">
        <div class="container">
            <r-grid class="misc__main" columns="12">
                <r-cell span="3-10" span-s="row">
                    <h2>A little things about me</h2>
                </r-cell>
                <r-cell class="misc__content" span="3-10" span-s="row">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>
                        Hac nisl nisi, senectus in neque pharetra massa felis.
                        Bibendum et, urna, sed eu aliquet nullam feugiat sapien
                        nunc. Sagittis dolor aenean enim urna nulla a. Porta id
                        morbi feugiat augue ornare venenatis aliquam. Lectus
                        urna nibh.
                    </p>
                </r-cell>
                <r-cell class="misc__image" span="2-5" span-s="row">
                    <img
                        src="{{
                            '/assets/images/about/afnizar-gema.png' | url
                        }}"
                        loading="lazy"
                    />
                </r-cell>
                <r-cell class="misc__image" span="6-11" span-s="row">
                    <img
                        src="{{
                            '/assets/images/about/playing-games.png' | url
                        }}"
                        loading="lazy"
                    />
                </r-cell>
                <r-cell class="misc__content last" span="3-10" span-s="row">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>
                        Hac nisl nisi, senectus in neque pharetra massa felis.
                        Bibendum et, urna, sed eu aliquet nullam feugiat sapien
                        nunc. Sagittis dolor aenean enim urna nulla a. Porta id
                        morbi feugiat augue ornare venenatis aliquam. Lectus
                        urna nibh.
                    </p>
                </r-cell>
                <r-cell class="misc__image" span="2-6" span-s="row">
                    <img
                        src="{{ '/assets/images/about/minithecat.png' | url }}"
                        loading="lazy"
                    />
                </r-cell>
                <r-cell class="misc__image" span="7-11" span-s="row">
                    <img
                        src="{{ '/assets/images/about/minothecat.png' | url }}"
                        loading="lazy"
                    />
                </r-cell>
                <r-cell span="2-11" span-s="row" class="career-history">
                    <h2>Career. Work. History.</h2>
                    <p class="subtitle">
                        I've been a designer for (almost) 10 years, gaining
                        experience working with clients of all sizes, spanning
                        many industries. If you think we could work together,
                        please get in touch.
                    </p>
                </r-cell>
                <r-cell span="2-7" span-s="row" class="list-experience">
                    <h4>Experience</h4>

                    <ul>
                        <li>
                            <div class="title">
                                <p class="body-large bold">
                                    Specify, Product Designer
                                </p>
                                <p class="date">
                                    Jul 2018 - Aug 2021 (3.2 years)
                                </p>
                            </div>
                            <p class="body">
                                Specify is a Design Data Platform, helping teams
                                unify their brand identity by collecting,
                                storing, transforming and distributing design
                                tokens and assets — automatically.
                            </p>
                        </li>
                        <li>
                            <div class="title">
                                <p class="body-large bold">
                                    Specify, Product Designer
                                </p>
                                <p class="date">
                                    Jul 2018 - Aug 2021 (3.2 years)
                                </p>
                            </div>
                            <p class="body">
                                Specify is a Design Data Platform, helping teams
                                unify their brand identity by collecting,
                                storing, transforming and distributing design
                                tokens and assets — automatically.
                            </p>
                        </li>
                        <li>
                            <div class="title">
                                <p class="body-large bold">
                                    Specify, Product Designer
                                </p>
                                <p class="date">
                                    Jul 2018 - Aug 2021 (3.2 years)
                                </p>
                            </div>
                            <p class="body">
                                Specify is a Design Data Platform, helping teams
                                unify their brand identity by collecting,
                                storing, transforming and distributing design
                                tokens and assets — automatically.
                            </p>
                        </li>
                        <li>
                            <div class="title">
                                <p class="body-large bold">
                                    Specify, Product Designer
                                </p>
                                <p class="date">
                                    Jul 2018 - Aug 2021 (3.2 years)
                                </p>
                            </div>
                            <p class="body">
                                Specify is a Design Data Platform, helping teams
                                unify their brand identity by collecting,
                                storing, transforming and distributing design
                                tokens and assets — automatically.
                            </p>
                        </li>
                    </ul>
                </r-cell>
                <r-cell span="8-11" span-s="row" class="list-skillset">
                    <h4>Skillset</h4>

                    <ul>
                        <li>Interaction design</li>
                        <li>Project management</li>
                        <li>Product design</li>
                        <li>Design process</li>
                        <li>Prototyping</li>
                        <li>Visual design</li>
                        <li>Product thinking</li>
                    </ul>
                </r-cell>
            </r-grid>
        </div>
    </div>
</section>
