<r-cell
	class="about"
	span="2-11"
	span-s="row"
	span-lg="row"
	id="outside-work"
>
	<div class="about--content outside-work">
		<div class="headline-container outside-work">
			<div class="headline">
				<h2>Outside work</h2>
				<p class="subtitle">
					These activities serve as a way to recharge, gain new
					perspectives, and connect with others.
				</p>
			</div>
		</div>
		<r-grid columns="10" class="outside-work--list-wrapper">
			<r-cell span="5" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-02.png", "Playing a games",
				"(min-width: 1440px) 100vw, 50vw", 422, 515 %}

				<p class="description">
					<strong>I like gaming on my game console</strong>, especially diving into
					strategy games, whether they're real-time or turn-based.
					Games like Disco Elysium, Shadow Tactics, or Aliens: Dark
					Descent are some of my favorites.
				</p>
			</r-cell>

			<r-cell span="5" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-01.png", "Taking a photos",
				"(min-width: 1440px) 100vw, 50vw", 422, 515 %}

				<p class="description">
					<strong>Taking photos around my neighborhood</strong> is a way for me to
					better understand how the people here go about their lives,
					and it's also quite relaxing for me.
				</p>
			</r-cell>

			<r-cell span="10" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-03.png", "Playing with Mino and
				Mini", "(min-width: 1440px) 100vw, 50vw", 867, 515 %}

				<p class="description">
					<strong>Playing with my cats after work</strong> is my way of recharging
					after a long day on the job. Let me introduce you to Mini
					and Mino, humans!
				</p>
			</r-cell>
		</r-grid>
	</div>
</r-cell>