<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">Outside work</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
	id="outside-work"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="about--content">
		<div class="headline-container outside-work">
			<div class="headline">
				<h2 text-split letters-slide-up>Outside work</h2>
				<p class="subtitle">
					These activities serve as a way to recharge, gain new
					perspectives, and connect with others.
				</p>
			</div>
		</div>
		<r-grid columns="10" class="outside-work--list-wrapper">
			<r-cell span="5" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-02.png", "Playing a games",
				"(min-width: 1440px) 100vw, 50vw", 422, 515 %}

				<p class="description">
					I like gaming on my PlayStation, especially diving into
					strategy games, whether they're real-time or turn-based.
					Games like Disco Elysium, Shadow Tactics, or Aliens: Dark
					Descent are some of my favorites.
				</p>
			</r-cell>

			<r-cell span="5" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-01.png", "Taking a photos",
				"(min-width: 1440px) 100vw, 50vw", 422, 515 %}

				<p class="description">
					Taking photos around my neighborhood is a way for me to
					better understand how the people here go about their lives,
					and it's also quite relaxing for me.
				</p>
			</r-cell>

			<r-cell span="10" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-03.png", "Playing with Mino and
				Mini", "(min-width: 1440px) 100vw, 50vw", 867, 515 %}

				<p class="description">
					Playing with my cats after work is my way of recharging
					after a long day on the job. Let me introduce you to Mino
					and Mini, humans!
				</p>
			</r-cell>
		</r-grid>
	</div>
</r-cell>
