<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">Outside work</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
	id="outside-work"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="about--content">
		<div class="headline-container outside-work">
			<div class="headline">
				<h2 text-split letters-slide-up>Outside work</h2>
				<p class="subtitle">
					I have a strong interest in learning how to code, and I aim
					to support my team in streamlining our workflow and
					improving our productivity by developing utilities such as
					web apps, Sketch plugins, and Figma plugins.
				</p>
			</div>
		</div>
		<r-grid columns="10" class="outside-work--list-wrapper">
			<r-cell span="5" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-02.png", "Outside work 2",
				"(min-width: 1440px) 100vw, 50vw", 422, 515 %}

				<p class="description">
					Office ipsum you must be muted. Our but supervisor bandwagon
					uat. Hop every window another happenings across unit cost.
				</p>
			</r-cell>

			<r-cell span="5" span-lg="row" class="outside-work--item">
				{% image "/about/outside-work-01.png", "Outside work 1",
				"(min-width: 1440px) 100vw, 50vw", 422, 515 %}

				<p class="description">
					Office ipsum you must be muted. Our but supervisor bandwagon
					uat. Hop every window another happenings across unit cost.
				</p>
			</r-cell>
		</r-grid>
	</div>
</r-cell>
