<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
    <div class="b-bottom work--section-title">
        <small aria-hidden="true">How I work</small>
    </div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
>
    <span class="block b-bottom u-desktop-only"></span>
    <div class="about--content">
        <div class="headline-container process" id="process">
            <div class="headline">
                <h2 text-split letters-slide-up>
				How I work
			</h2>
                <p class="subtitle">
				Started from the bottom the original problem(s) and make sure we try to tackle the correct one(s) is essential to make sure we provide efficient solutions to users and businesses.
			</p>
            </div>
        </div>
    </div>
</r-cell>