<div class="process">
	<h2>How I work</h2>
	<p class="subtitle">
		Start with the problems and making sure we deal with the right ones. The
		process sometimes it’s as linear as it looks, other times it’s a zigzag.
	</p>

	<r-grid columns="10" class="process--list-wrapper">
		<r-cell span="5" span-s="row" class="process-card">
			<div class="thumbnail-wrapper">{% icon "observe" %}</div>

			<div class="title">
				<p class="body-large">Observe</p>
				<p class="description">
					By observing, I believe we can develop a greater
					understanding of users and their needs while observing them
					in their environment.
				</p>
			</div>

			<div class="accordion">
				<details class="accordion--item">
					<summary class="accordion--title">
						<p class="bold">Get to know users</p>
						{% icon "chevron-down" %}
					</summary>
					<div class="accordion--content">
						<p>
							Empathy starts with seeing people as people, not
							just users. I'm really like to talk to them, asking
							questions, and listening closely.
						</p>

						<p>
							By putting myself in their shoes, I can truly
							understand their world and help them in meaningful
							ways.
						</p>
					</div>
				</details>

				<details class="accordion--item">
					<summary class="accordion--title">
						<p class="bold">Analytical thinking</p>
						{% icon "chevron-down" %}
					</summary>
					<div class="accordion--content">
						<p>
							I enjoy making informed decisions, whether or not
							they rely on data, as it enables us to continuously
							enhance our strategies for improved outcomes.
						</p>
					</div>
				</details>
			</div>
		</r-cell>

		<r-cell span="5" span-s="row" class="process-card">
			<div class="thumbnail-wrapper">{% icon "reflect" %}</div>

			<div class="title">
				<p class="body-large">Reflect</p>
				<p class="description">
					Reflecting on our work, we should consider different
					perspectives and be prepared to adapt to remain true to the
					objectives we pursue.
				</p>
			</div>

			<div class="accordion">
				<details class="accordion--item">
					<summary class="accordion--title">
						<p class="bold">Cross-functional collaboration</p>
						{% icon "chevron-down" %}
					</summary>
					<div class="accordion--content">
						<p>
							When I work with the team, we're all in this
							together. I always to try to include our team in all
							design process so we can discover common ground,
							understand each other, and value strengths while
							accepting our limitations.
						</p>
					</div>
				</details>
				<details class="accordion--item">
					<summary class="accordion--title">
						<p class="bold">Adaptability, evaluate, and iterate</p>
						{% icon "chevron-down" %}
					</summary>
					<div class="accordion--content">
						<p>
							If it doesn't work, I don't hesitate to iterate and
							keep pushing forward until we strike the right
							balance, guided by the insights we uncover.
						</p>

						<p>
							Adaptability means embracing change to achieve
							success.
						</p>
					</div>
				</details>
			</div>
		</r-cell>

		<r-cell span="5" span-s="row" class="process-card">
			<div class="thumbnail-wrapper">{% icon "make" %}</div>

			<div class="title">
				<p class="body-large">Make</p>
				<p class="description">
					The sooner you make, the more quickly you learn. By make,
					giving you the opportunity to try out new ideas.
				</p>
			</div>

			<div class="accordion">
				<details class="accordion--item">
					<summary class="accordion--title">
						<p class="bold">Explore possibilities</p>
						{% icon "chevron-down" %}
					</summary>
					<div class="accordion--content">
						<p>
							I find immense joy in exploring numerous concepts
							and unlocking possibilities. My work pace is fast,
							and embrace a rapid design process for testing out
							ideas.
						</p>

						<p>
							This approach allows me to quickly iterate and
							refine ideas while maintaining a keen focus on
							delivering quality results.
						</p>
					</div>
				</details>
				<details class="accordion--item">
					<summary class="accordion--title">
						<p class="bold">Communicate ideas</p>
						{% icon "chevron-down" %}
					</summary>
					<div class="accordion--content">
						<p>
							I love to share ideas quickly and effectively.
							Sometime using prototype or even just a sketch. This
							visual approach ensures that we're all on the same
							page, as a picture truly speaks volumes.
						</p>
					</div>
				</details>
			</div>
		</r-cell>
	</r-grid>
</div>