<div class="quick-nav">
    <ul>
        <li>
            <a href="#history">History and career highlights</a>
        </li>
        <li>
            <a href="#speaking">Speaking and workshops</a>
        </li>
        <li>
            <a href="#outside-work">Outside work</a>
        </li>
    </ul>
</div>