<div class="quick-nav-wrapper">
    <div class="quick-nav quick-nav--about" aria-label="Quick Navigation About Afnizar">
        <ul>
            <li>
                <a href="#history">History and career highlights</a>
            </li>
            <li>
                <a href="#speaking">Speaking and workshops</a>
            </li>
            <li>
                <a href="#outside-work">Outside work</a>
            </li>
        </ul>
    </div>
</div>