<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">Speaking</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom about"
	span="3-12"
	span-s="row"
	span-lg="row"
	id="speaking"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="about--content">
		<div class="headline-container speaking">
			<div class="headline">
				<h2 text-split letters-slide-up>
					In between my works, I love to share and help others by
					speaking and run workshops
				</h2>

				<div class="picture-container picture-speaking">
					<div class="pic-frame-speaking">
						<img
							src="/assets/images/about/speaking-01.png"
							alt="Speaking"
						/>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>

					<div class="pic-frame-speaking">
						<img
							src="/assets/images/about/speaking-02.png"
							alt="Speaking"
						/>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>

				<r-grid columns="10" class="speaking--list-wrapper">
					<r-cell span="5" span-s="row" class="speaking-card">
						<div class="title">
							<p class="body-large">
								Careers 101: Prepare to applying jobs or intern
							</p>
							<p class="description">
								This talk is about what to prepare when applying
								jobs or intern. Presented in my high school
								community called Jagongan Stematel.
							</p>
						</div>

						<div class="speaking--link">
							<a class="bold">Figma</a>
							{% icon "chevron-right" %}
						</div>
					</r-cell>

					<r-cell span="5" span-s="row" class="speaking-card">
						<div class="title">
							<p class="body-large">
								Easily Structure & Communicate Ideas using
								Wireframe
							</p>
							<p class="description">
								This talk discusses how wireframes can help in
								developing ideas and how to build them.
							</p>
						</div>

						<div class="speaking--link">
							<a class="bold">Speakerdeck</a>
							{% icon "chevron-right" %}
						</div>
					</r-cell>

					<r-cell span="5" span-s="row" class="speaking-card">
						<div class="title">
							<p class="body-large">
								Designing with Data: Using A/B Testing to Help
								Improve User Experience
							</p>
							<p class="description">
								This talk is about what to prepare when applying
								jobs or intern. Presented in my high school
								community called Jagongan Stematel.
							</p>
						</div>

						<div class="speaking--link">
							<a class="bold">Figma</a>
							{% icon "chevron-right" %}
						</div>
					</r-cell>

					<r-cell span="5" span-s="row" class="speaking-card">
						<div class="title">
							<p class="body-large">
								Designing Experience and Interface
							</p>
							<p class="description">
								This talk is about introduction of designing
								experience in building product.
							</p>
						</div>

						<div class="speaking--link">
							<a class="bold">Figma</a>
							{% icon "chevron-right" %}
						</div>
					</r-cell>
				</r-grid>
			</div>
		</div>
	</div>
</r-cell>
