<r-cell
	class="about"
	span="2-11"
	span-s="row"
	span-lg="row"
	id="speaking"
>
	<div class="about--content speaking">
		<div class="headline-container speaking">
			<div class="headline">
				<h2 text-split letters-slide-up>
					In between my works, I love to share and help others by
					speaking and run workshops
				</h2>

				<div class="picture-container picture-speaking">
					<div class="pic-frame">
						{% image "/about/speaking-01.png", "Teaching in front of student of Telkom University",
						"(min-width: 1440px) 100vw, 50vw", 353, 222 %}
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>

					<div class="pic-frame">
						{% image "/about/speaking-02.png", "Teaching Design Fundamental in front of student",
						"(min-width: 1440px) 100vw, 50vw", 358, 224 %}
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="recommendation--accordion speaking--list-wrapper">
			<div
				class="accordion-wrapper {% if speaking.length > 4 %}hidden{% endif %}"
			>
				<div class="accordion-inner">
					{% for items in speaking %}
						<div class="accordion-slide speaking-card">
							<div class="title">
								<p class="body-large">
									{{ items.title }}
								</p>
								<p class="description">
									{{ items.description }}
								</p>
							</div>

							<div class="speaking--link">
								<a href="{{ items.url }}" class="bold">{{
								items.type
							}}</a>
								{% icon "chevron-right" %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			{% if speaking.length > 4 %}
				<div class="show-more">
					<span
					tabindex="0"
					data-umami-event="talks-view-all"
					class="show-more-link"
				>
					View all speaking archives{% icon "chevron-down" %}
					</span>
				</div>
			{% endif %}
		</div>
	</div>
</r-cell>