<section class="talks">
    <div class="talks__wrapper">
        <div class="container">
            <r-grid class="talks__main" columns="12">
                <r-cell span="3-10" span-s="row">
                    <h2>
                        In between my works, I love to share and help others
                        <span class="font-highlight"
                            >by speaking and run workshops</span
                        >
                    </h2>
                </r-cell>
            </r-grid>
        </div>
    </div>
</section>
