<section class="talks">
    <div class="talks__wrapper">
        <div class="container">
            <r-grid class="talks__main" columns="12">
                <r-cell span="3-10" span-s="row">
                    <h2>
                        In between my works, I love to share and help others by
                        speaking and run workshops
                    </h2>
                </r-cell>

                <r-cell span="2-11" span-s="row" class="speaking-preview">
                    <div class="speaking-preview-img">
                        <img
                            src="{{
                                '/assets/images/about/speaking-1.jpg' | url
                            }}"
                            loading="lazy"
                            alt=""
                        />
                        <img
                            src="{{
                                '/assets/images/about/speaking-2.jpg' | url
                            }}"
                            loading="lazy"
                            alt=""
                        />
                    </div>
                </r-cell>
                <r-cell span="2-11" span-s="row" class="speaking-list">
                    <ul>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Design & Automate Icon Library with
                                        Figma
                                    </a>
                                </p>
                                <p>
                                    Slide deck presented for Friends of Figma
                                    Jakarta online talk event on 22 November
                                    2020.
                                </p>
                            </div>
                            <a href="#" class="link">
                                {% icon "figma" %} Figma File
                            </a>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Thinking in Code for Designer
                                    </a>
                                </p>
                                <p>
                                    Slide deck presented for Proclub online talk
                                    event on 3 July 2020.
                                </p>
                            </div>
                            <a href="#" class="link">
                                {% icon "figma" %} Figma File
                            </a>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Introduction to User Experience Design
                                    </a>
                                </p>
                                <p>
                                    Slide deck presented for Kemakom Goes to
                                    School 2020 online talk event on 12 Agustus
                                    2020.
                                </p>
                            </div>
                            <a href="#" class="link">
                                {% icon "figma" %} Figma File
                            </a>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Careers 101: Prepare to applying jobs or
                                        intern
                                    </a>
                                </p>
                                <p>
                                    This talk is about what to prepare when
                                    applying jobs or intern. Presented in my
                                    high school community called Jagongan
                                    Stematel.Slide deck presented for Friends of
                                    Figma Jakarta online talk event on 22
                                    November 2020.
                                </p>
                            </div>
                            <a href="#" class="link">
                                {% icon "figma" %} Figma File
                            </a>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Easily Structure & Communicate Ideas
                                        using Wireframe
                                    </a>
                                </p>
                                <p>
                                    This talk discusses how wireframes can help
                                    in developing ideas and how to build them.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Designing with Data: Using A/B Testing
                                        to Help Improve User Experience
                                    </a>
                                </p>
                                <p>
                                    This talk discusses the use of A / B Testing
                                    on a product, its definition, and its
                                    important role so that it can produce an
                                    impact.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Craft Solution using Design Thinking
                                    </a>
                                </p>
                                <p>
                                    Facilitate workshop about design thinking,
                                    from identifying the problem to crafting the
                                    solution.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#">
                                        Building Instagram-like Prototype using
                                        Framer
                                    </a>
                                </p>
                                <p>
                                    Facilitate workshop to create prototype
                                    using Framer.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p class="subtitle bold">
                                    <a href="#"> Be Awesome with Git </a>
                                </p>
                                <p>
                                    Facilitate workshop how to use Git in
                                    development project.
                                </p>
                            </div>
                        </li>
                    </ul>
                </r-cell>
            </r-grid>
        </div>
    </div>
</section>
