<r-cell
    class="writing--container"
    span="2-11"
    span-s="row"
    span-lg="row"
>
    <div class="writing--content">
        <div class="title">
            <h1>Writing</h1>
            <p class="subtitle">Sharing things related to design, development, career, and personal</p>
        </div>

        <r-grid columns="10" class="writing--article-list">
            {% for article in collections.writing %}
                <r-cell span="5" span-s="row"class="article-card">
                    <div class="article-header">
                        <div class="article-date">
                            <p>
                                {{ article.date | dateToFormat('d') }}
                            </p>
                            <small class="helper">
                                {{ article.date | dateToFormat('MMM') }}
                            </small>
                        </div>

                        <div class="article-title">
                            <h5>
                                <a href="{{ article.url }}">{{ article.data.title }}
                                </a>
                            </h5>
                            <p class="description">{{ article.data.description }}</p>
                        </div>
                    </div>

                    <ul>
                        {% for i in article.data.tags %}
                            <li>
                                <a href="{{ '/writing/tags/' + i | url }}">
                                    <small class="badge badge-tags helper">{{ i }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </r-cell>
            {% endfor %}
        </r-grid>
    </div
</r-cell>