<r-cell
    class="writing--container"
    span="2-11"
    span-s="row"
    span-lg="row"
>
    <div class="writing--content">
        <div class="title">
            <h1>Writing</h1>
            <p class="subtitle">Sharing things related to design, development, career, and personal life.</p>
        </div>

        <r-grid columns="10" class="writing--article-list">
            {% for article in collections.writing %}
                <r-cell span="5" span-s="row"class="article-card">
                    <div class="article-header">
                        <div class="article-date">
                            <p>
                                {{ article.date | dateToFormat('d') }}
                            </p>
                            <small class="helper">
                                {{ article.date | dateToFormat('MMM') }}
                            </small>
                        </div>

                        <div class="article-title">
                            <a href="{{ article.url }}">
                                <h5>
                                    {{ article.data.title }}
                                </h5>
                            </a>

                            <p class="description">{{ article.data.description }}</p>
                        </div>
                    </div>

                    <ul>
                        {% if article.data.tags.length > 3 %}
                            {% for i in article
                                .data
                                .tags
                                .slice(0, 3) %}
                                <li>
                                    <a href="{{ '/writing/tags/' + i | slugify | url }}">
                                        <small class="badge badge-tags helper">{{ i }}</small>
                                    </a>
                                </li>
                            {% endfor %}

                            {% if article.data.tags.length > 3 %}
                                {% for i in article
                                    .data
                                    .tags
                                    .slice(3) %}
                                    <li class="hidden-tags" style="display: none;">
                                        <a href="{{ '/writing/tags/' + i | slugify | url }}">
                                            <small class="badge badge-tags helper">{{ i }}</small>
                                        </a>
                                    </li>
                                {% endfor %}

                            {% endif %}

                            <li>
                                <button class="button toggle-tags" aria-label="Show more tags" aria-expanded="false">
                                    {% icon "three-dot" %}
                                </button>
                            </li>

                        {% else %}
                            {% for i in article.data.tags %}
                                <li>
                                    <a href="{{ '/writing/tags/' + i | slugify | url }}">
                                        <small class="badge badge-tags helper">{{ i }}</small>
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </r-cell>
            {% endfor %}
        </r-grid>
    </div
</r-cell>