<div class="flex flex-col h-auto justify-between md:mb-8">
	<p class="mb-8 body">
		Currently, I'm working at GovTech Edu, where I design platforms for
		Rapor Pendidikan. Prior to this, I gained valuable experience working on
		product design for Bukalapak, startups, and with various agencies.
	</p>
</div>
