---
import GithubIcon from "./icons/GithubIcon.astro"
import LinkedinIcon from "./icons/LinkedinIcon.astro"
import InstagramIcon from "./icons/InstagramIcon.astro"
import XIcon from "./icons/XIcon.astro"
import ThreadsIcon from "./icons/ThreadsIcon.astro"
import FigmaIcon from "./icons/FigmaIcon.astro"
---

<div class="flex flex-col h-full justify-between">
	<div>
		<p class="mb-8 body">
			Currently, I'm working at GovTech Edu, where I design platforms for
			Rapor Pendidikan. Prior to this, I gained valuable experience
			working on product design for Bukalapak, startups, and with various
			agencies.
		</p>
	</div>

	<div class="mt-auto mb-0">
		<div class="flex gap-4 items-center mb-9">
			<a
				href="https://figma.com/@afnizarnur"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Figma Profile"
				class="text-primary hover:text-secondary transition-colors"
			>
				<FigmaIcon class="w-5 h-5" />
			</a>
			<a
				href="https://linkedin.com/in/afnizarnur"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="LinkedIn Profile"
				class="text-primary hover:text-secondary transition-colors"
			>
				<LinkedinIcon class="w-5 h-5" />
			</a>
			<a
				href="https://github.com/afnizarnur"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="GitHub Profile"
				class="text-primary hover:text-secondary transition-colors"
			>
				<GithubIcon class="w-5 h-5" />
			</a>
			<a
				href="https://instagram.com/afnizar_nur"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Instagram Profile"
				class="text-primary hover:text-secondary transition-colors"
			>
				<InstagramIcon class="w-5 h-5" />
			</a>
			<a
				href="https://threads.net/@afnizar_nur"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Threads Profile"
				class="text-primary hover:text-secondary transition-colors"
			>
				<ThreadsIcon class="w-5 h-5" />
			</a>
			<a
				href="https://x.com/afnizarnur"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="X (Twitter) Profile"
				class="text-primary hover:text-secondary transition-colors"
			>
				<XIcon class="w-5 h-5" />
			</a>
		</div>
		<p class="text-sm text-disabled">
			Typeset in <a
				href="https://www.fontshare.com/fonts/aksen"
				class="underline text-disabled hover:no-underline transition-colors"
				>Aksen</a
			>, <a
				href="https://www.fontshare.com/fonts/fonetika"
				class="underline text-disabled hover:no-underline transition-colors"
				>Fonetika Mono</a
			> and <a
				href="https://fonts.google.com/specimen/Inter"
				class="underline text-disabled hover:no-underline transition-colors"
				>Inter</a
			>.
			<br />Developed with Astro from Serang, Indonesia.
		</p>
	</div>
</div>
