<div class="modal-theme-switcher modal" role="dialog" aria-modal="true" aria-labelledby="themeSwitcherTitle" aria-describedby="themeSwitcherDescription">
    <div class="modal-theme-switcher--content modal--content">
        <div class="modal--title">
            <h2 id="themeSwitcherTitle" class="bold">Theme Switcher</h2>
            <button class="modal-theme-switcher--close-button modal--close-button" aria-label="Close Modal">
                {% icon "close" %}
            </button>
        </div>
        <div class="modal--body">
            <div class="theme-switcher">
                <button id="light-mode" class="theme-button" aria-label="Switch to Light Mode" data-theme="default" data-umami-event="nav-theme-default">
                    <p class="bold">Suci</p>
                </button>
                <button id="dark-mode" class="theme-button" aria-label="Switch to Dark Mode" data-theme="dark" data-umami-event="nav-theme-dark">
                    <p class="bold">Dark</p>
                </button>
                <button id="minimal-mode" class="theme-button" aria-label="Switch to Minimal Mode" data-theme="gray" data-umami-event="nav-theme-gray">
                    <p class="bold">Minimal</p>
                </button>
                <button id="pink-mode" class="theme-button" aria-label="Switch to Pink Mode" data-theme="pink" data-umami-event="nav-theme-pink">
                    <p class="bold">Pink</p>
                </button>
                <button id="blue-mode" class="theme-button" aria-label="Switch to Blue Mode" data-theme="blue" data-umami-event="nav-theme-blue">
                    <p class="bold">Blue</p>
                </button>
            </div>

            <div class="system-settings-option">
                <input type="checkbox" id="switch-system"/>

                <label for="switch-system" class="slider">
                    <small>
                        Can't decide? Check to use system settings
                    </small>
                </label>

            </div>
        </div>

    </div>
    <div class="modal-theme-switcher--overlay modal--overlay"></div>
</div>