.aboutme {
    padding: 160px 0px 160px 0px;

    @include mq-down(lg) {
        padding: 160px 0px;
    }

    @include mq-down(md) {
        padding: 96px 0px;
    }

    &__main {
        h2 {
            margin-bottom: 64px;

            @include mq-down(md) {
                margin-bottom: 32px;
            }
        }

        .signature__image {
            fill: var(--text-primary);
        }

        .image-text {
            position: relative;

            .text {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .image-text-hidden {
            display: none;
        }

        .image-text:hover .image-text-hidden {
            display: block;
            position: absolute;
            top: -150px;
            left: 50%;

            &.mini {
                transform: rotate(4deg);
            }

            &.mino {
                transform: rotate(-4deg);
            }
        }
    }

    &__subtitle {
        p {
            color: var(--text-secondary);
            margin-bottom: 32px;
        }
    }
}
