.design-tooling-card {
    background: var(--surface-default);
    border-radius: 16px;

    .thumbnail-wrapper {
        padding: 0;
        margin: 0;
        border-radius: 0;
        line-height: 0;

        &:hover {
            text-decoration: none;
            background: none;
        }

        img.thumbnail {
            display: block;
            width: 100%;
            object-fit: cover;
            object-position: center;
            text-align: center;
        }
    }

    .tool-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 24px 24px;
        gap: 8px;

        p {
            width: 100%;
            color: var(--text-secondary);

            &.body-large {
                margin-bottom: 0px;
                color: var(--text-primary);
            }
        }
    }
}
