.design-tooling {
	margin: 0px 0px 120px 0px;

	@include mq-down(lg) {
		margin: 0px 24px 120px 24px;
	}

	@include mq-down(sm) {
		margin-bottom: 64px;
	}

	&--content {
		.title {
			margin: 0px 0px 64px 0px;

			@include mq-down(lg) {
				margin: 0px 0px 44px 0px;
			}
		}

		h2 {
			margin: 0px 0px 24px 0px;
		}
	}

	&--list-wrapper {
		margin: 24px 0px 0px 0px;
		gap: 24px;

		ul {
			display: inline-flex;

			li {
				margin-right: 4px;
			}
		}
	}
}

.design-tooling-card {
	background: var(--surface-default);
	border-radius: 16px;

	.thumbnail-wrapper {
		display: flex;
		justify-content: center;
		overflow: hidden;
		a {
			padding: 0;
			margin: 0;
			border-radius: 0;
			line-height: 0;

			&:hover {
				text-decoration: none;
				background: none;
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: center;

			@include mq-down(lg) {
				height: 280px;
			}
		}
	}

	.tool-title {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 24px 24px;
		gap: 12px;

		p {
			width: 100%;
			color: var(--text-secondary);

			&.body-large {
				margin-bottom: 0px;
				color: var(--text-primary);
			}
		}
	}
}
