.introduction {
	&--content {
		margin: 144px 0px;

		.headline {
			@include mq-down(lg) {
				margin: 0px 24px;
			}
		}

		@include mq-down(lg) {
			margin: 120px 0px;
		}

		@include mq-down(sm) {
			margin: 64px 0px;
		}
	}

	.button-intro {
		margin: 32px 44px 0px 0px;
		display: flex;
		gap: 12px;

		@include mq-down(lg) {
			margin: 32px 24px 0px 24px;
		}

		@include mq-down(sm) {
			flex-direction: column;

			a.button {
				width: 100%;
			}
		}

		svg.icon {
			height: 24px;
			width: 24px;
		}
	}
}
