.introduction {
    grid-row: 3;

    @include mq-down(sm) {
        border-width: 0px 0px 1px 0px;
    }

    &--content {
        margin: 144px 44px 144px 44px;

        p {
            margin-bottom: 24px;
        }

        @include mq-down(sm) {
            margin: 64px 24px;
        }
    }
}
