.recommendation {
	margin: 0px 0px 0px 0px;

	@include mq-down(lg) {
		margin: 0px 24px 0px 24px;
	}

	&--content {
		.title {
			margin: 0px 0px 44px 0px;

			@include mq-down(sm) {
				margin: 0px 0px 24px 0px;
			}
		}

		h2 {
			margin: 0px;
		}
	}
}
