.recommendation {
	margin: 0px 0px 0px 0px;

	&--content {
		.title {
			margin: 0px 0px 64px 0px;

			@include mq-down(lg) {
				margin: 0px 16px 44px 16px;
			}
		}

		@include mq-down(lg) {
			margin: 64px 0px;
		}
	}
}
