.selected-work {
	margin: 0px 0px 120px 0px;

	@include mq-down(lg) {
		margin: 0px 24px 120px 24px;
	}

	@include mq-down(sm) {
		margin-bottom: 64px;
	}

	&--content {
		h2 {
			margin: 0px 0px 44px 0px;

			@include mq-down(sm) {
				margin: 0px 0px 24px 0px;
			}
		}

		p {
			margin-bottom: 24px;

			@include mq-down(sm) {
				margin-bottom: 12px;
			}
		}
	}

	&--item {
		margin-bottom: 64px;

		@include mq-down(lg) {
			margin-bottom: 44px;
		}

		.thumbnail-wrapper {
			position: relative;
			border-radius: $border-radius-16;
			overflow: hidden;

			@include mq-down(sm) {
				border-radius: $border-radius-12;
			}

			.badge-draft {
				position: absolute;
				top: 44px;
				left: 44px;

				@include mq-down(lg) {
					top: 16px;
					left: 16px;
				}
			}

			a {
				padding: 0;
				margin: 0;
				border-radius: 0;
				line-height: 0;

				&:hover {
					text-decoration: none;
					background: none;
				}
			}
			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
				object-position: center;
				background: var(--surface-default);
			}
		}

		.description {
			gap: 24px;
			margin: 24px 0px 0px 0px;
			color: var(--text-primary);

			@include mq-down(sm) {
				gap: 0px;
			}

			&--project {
				margin-bottom: 16px;
			}
		}

		&:last-child {
			margin-bottom: 0px;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 4px;

			a {
				text-decoration: none;
				padding: 0;
				margin: 0;

				&:hover {
					small {
						color: var(--background-default);
						background: var(--text-primary);
					}
				}
			}
		}
	}
}
