.skills {
	margin: 0px 0px 120px 0px;

	@include mq-down(lg) {
		margin: 0px 24px 120px 24px;
	}

	@include mq-down(sm) {
		margin-bottom: 64px;
	}

	&--content {
		.title {
			margin: 0px 0px 40px 0px;
		}

		h2 {
			margin: 0px 0px 24px 0px;
		}

		ul {
			li {
				border-bottom: 1px solid var(--border-default);
				padding: 24px 0px;

				@include mq-down(sm) {
					padding: 16px 0px;
				}
				h3 {
					margin: 0;
				}
			}
		}
	}
}
