.skills {
    @include mq-down(lg) {
        border-width: 0px 0px 1px 0px;
    }

    &--content {
        margin: 144px 0px 144px 0px;

        .title {
            margin: 0px 44px 64px 44px;

            @include mq-down(lg) {
                margin: 0px 24px 44px 24px;
            }
        }

        @include mq-down(lg) {
            margin: 64px 0px;
        }

        ul {
            margin: 24px 44px 0px 44px;

            @include mq-down(lg) {
                margin: 24px 24px 0px 24px;
            }
            @include mq-down(sm) {
                margin: 16px 24px 0px 24px;
            }
            li {
                border-bottom: 1px solid var(--border-default);
                padding: 24px 0px;

                @include mq-down(sm) {
                    padding: 16px 0px;
                }
                h3 {
                    margin: 0;
                }
            }
        }
    }
}
