---
interface Props {
  class?: string;
  width?: string;
  height?: string;
}

const { class: className = "w-5 h-5", width = "24", height = "24" } = Astro.props;
---

<span class={className}>
  <slot />
</span>

<style>
  span :global(svg) {
    width: 100%;
    height: 100%;
  }
</style>
