<div class="aboutme">
    <r-grid class="aboutme__main" columns="12">
        <r-cell span="3-10" span-s="row">
            <h2>
                Keep.
                <span class="font-highlight">Scrolling</span>.
            </h2>

            <div class="aboutme__subtitle subtitle">
                <p class="subtitle">
                    <strong
                        >I understand, if this sounds cliché, reading a sequence
                        of design processes earlier. But hold on, let me explain
                        to you.</strong
                    >
                </p>
                <p class="subtitle">
                    I've always thought of design as a process of getting from
                    point A to point B. But, as I looked back, I realized it
                    wasn't always like that. This is what I call the loop:
                    observe, reflect, and make. It never takes a single path; it
                    is always changing and adapting to the problems we face.
                </p>
                <p class="subtitle">
                    <u>Purbalingga</u> is my point A, this is a small town in
                    Java where I was born. People moving on, so am I. From
                    Purbalingga, I’m looking for another point–Purwokerto,
                    Bandung, and, Jakarta. By living in various place, I reflect
                    that I take a lot of inspiration from meeting many people
                    and environments. Even today, I still believe that
                    connecting with humans creates empathy and connects us
                    together.
                </p>
                <p class="subtitle">
                    This website serves as a repository for my design work and
                    reflections. I hope you enjoy your visit here.
                </p>
                <p class="subtitle">Keep scrolling & rockin’</p>
            </div>
        </r-cell>
    </r-grid>
</div>
