<div class="aboutme">
	<r-grid class="aboutme__main" columns="12">
		<r-cell span="3-10" span-s="row">
			<h2>
				Keep. Scrolling.
			</h2>

			<div class="aboutme__subtitle subtitle">
				<p class="subtitle">
					<strong>Observe, reflect, make–we called it the loop</strong>. The design process is never a one-way street. It's something that constantly evolves, adapting to the challenges we face.</p>
				<p class="subtitle">
					I’m passionate about all areas of design and I believe in design as a better approach to solving human problem. My interests in design include interaction design, accessibility, and technological design. In between my works, I do front-end development. I also believe with coding, designer can create more impactful experiences by embracing the technicalities that make it happen. I enjoy writing code, and I particularly enjoy writing HTML, CSS, Javascript, and React.
				</p>
				<p class="subtitle">

					I have two adorable cats named
					<span class="image-text">
						<span class="text">Mini</span>
						<span aria-hidden="true" class="image-text-hidden mini">
							<img src="{{ '/assets/images/mini-cat.png' | url }}" loading="lazy" width="148"/>
						</span>
					</span>

					&
					<span class="image-text">
						<span class="text">Mino</span>.
						<span aria-hidden="true" class="image-text-hidden mino">
							<img src="{{ '/assets/images/mino-cat.png' | url }}" loading="lazy" width="148"/>
						</span>
					</span>
					In my spare time, I enjoy photography and playing games (The Last of Us, Deathloop, I'm already finished it!). Currently, I'm a hobbyist videographer and video editor.
				</p>
				<p class="subtitle">
					Keep scrolling & rockin’
				</p>
				<img src="{{ '/assets/images/signature.svg' | url }}" loading="lazy" alt="Signature"/>
			</div>
		</r-cell>
	</r-grid>
	{% include "home/intro-video.njk"%}
</div>