<r-cell span="5" span-s="row" class="design-tooling-card">
    <div class="thumbnail-wrapper">
        {% if item.url %}
            <a href="{{ item.url }}">
                <img
                    class="thumbnail"
                    src="{{ item.thumbnail | url }}"
                    alt="Thumbnail of {{ item.title }}"
                    loading="lazy"
                     width="422"
                height="373"
/>
            </a>
        {% else %}
            <img
                class="thumbnail"
                src="{{ item.thumbnail | url }}"
                alt="Thumbnail of {{ item.title }}"
                loading="lazy"
                width="422"
                height="373"
/>
        {% endif %}
    </div>

    <div class="tool-title">
        <p class="body-large">
            {% if item.url %}
                <a href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
                {{ item.title }}
            {% endif %}
        </p>
        <p class="description">
            {{ item.description }}
        </p>
    </div>
</r-cell>