<div class="designtooling">
	<div class="container">
		<r-grid class="designtooling__main" columns="12">
			<r-cell span="3-10" span-s="row">
				<section>
					<h2>
						Design Tooling
					</h2>
					<p class="subtitle">
						I have a curiosity to learn how to code, and I try to help my design team by building helpful tools like web apps, Sketch plugins, and Figma plugins that improve our workflows.
					</p>
				</section>
			</r-cell>

			<r-cell span="1-6" span-s="row" class="designtooling__card">
				<a class="link-wrap" href="https://www.figma.com/community/plugin/841201477778898873/Page-Automator">
					<div class="general__header">
						<h4 class="bold">
							Page Automator
						</h4>
						<p>
							Automate the process of creating multiple pages.
						</p>
					</div>
					<div class="image-preview page-automator">
						<div class="software-badge">
							{% icon "figma" %}
							<p>Figma</p>
						</div>
						<img src="{{ '/assets/images/design-tooling/page-automator-figma-plugin.png' | url }}" loading="lazy" width="422"/>
					</div>
				</a>
			</r-cell>
			<r-cell span="7-12" span-s="row" class="designtooling__card">
				<a class="link-wrap" href="https://www.figma.com/community/plugin/1029334595972104332/Variant-Inspector">
					<div class="general__header">
						<h4 class="bold">
							Variant Inspector
						</h4>
						<p>
							Makes it easy to get variant properties and place them above your variants.
						</p>
					</div>
					<div class="image-preview variant-inspector">
						<div class="software-badge">
							{% icon "figma" %}
							<p>Figma</p>
						</div>
						<img src="{{ '/assets/images/design-tooling/variant-inspect-figma-plugin.png' | url }}" loading="lazy" width="400"/>
					</div>
				</a>
			</r-cell>

			<r-cell span="1-6" span-s="row" class="designtooling__card">
				<a class="link-wrap" href="https://www.figma.com/community/plugin/841200074370852792/Quick-New-Page">
					<div class="general__header">
						<h4 class="bold">
							Quick New Page
						</h4>
						<p>
							Add new pages in a super quick way. It's a shortcut to do an awesome job in your design files, to "add new pages."
						</p>
					</div>
					<div class="image-preview qnp">
						<div class="software-badge">
							{% icon "figma" %}
							<p>Figma</p>
						</div>
						<img src="{{ '/assets/images/design-tooling/quick-new-page-figma-plugin.png' | url }}" loading="lazy" width="422"/>
					</div>
				</a>
			</r-cell>
			<r-cell span="7-12" span-s="row" class="designtooling__card">
				<a class="link-wrap" href="https://github.com/afnizarnur/context-sketch-plugin">
					<div class="general__header">
						<h4 class="bold">
							Context
						</h4>
						<p>
							Count the number of characters, words, and paragraphs from a text layer.
						</p>
					</div>
					<div class="image-preview context">
						<div class="software-badge">
							{% icon "sketch" %}
							<p>Sketch</p>
						</div>
						<img src="{{ '/assets/images/design-tooling/context-sketch-plugin.png' | url }}" loading="lazy" width="422"/>
					</div>
				</a>
			</r-cell>
			<r-cell span="1-6" span-s="row" class="designtooling__card">
				<a class="link-wrap" href="https://bl.afnizarnur.com/colorfinder/">
					<div class="general__header">
						<h4 class="bold">
							Bukalapak Color Finder
						</h4>
						<p>
							Browse through the colors of the design system and get the variable color name.
						</p>
					</div>
					<div class="image-preview colorfinder-webapp">
						<div class="software-badge">
							{% icon "web-app" %}
							<p>Web App</p>
						</div>
						<img src="{{ '/assets/images/design-tooling/color-finder-web-app.png' | url }}" loading="lazy" width="574"/>
					</div>
				</a>
			</r-cell>
			<r-cell span="7-12" span-s="row" class="designtooling__card">
				<div class="general__header">
					<h4 class="bold">
						Magic Export
					</h4>
					<p>
						Export and compress image assets for faster loading times on your website/application.
					</p>
				</div>
				<div class="image-preview magic-export">
					<div class="software-badge">
						{% icon "figma" %}
						<p>Figma</p>
					</div>
					<img src="{{ '/assets/images/design-tooling/magic-export-figma-plugin.png' | url }}" loading="lazy" width="399"/>
				</div>
			</r-cell>
		</r-grid>
	</div>
</div>