<r-cell
    class="design-tooling"
    span="2-11"
    span-s="row"
    span-lg="row"
>
	<div class="design-tooling--content">
		<div class="title">
			<h2>Design Tooling</h2>

			<p class="subtitle">
               I have a strong interest in learning how to code, and I aim to support my team in streamlining our workflow and improving our productivity by developing utilities such as web apps, Sketch plugins, and Figma plugins.
            </p>
		</div>
		<r-grid columns="10" class="design-tooling--list-wrapper">
			{% for item in designTooling %}
				<r-cell span="5" span-s="row" class="design-tooling-card">
					<div class="thumbnail-wrapper">
						{% if item.url %}
							<a href="{{ item.url }}">
								{% image item.thumbnail, "Thumbnail of " + item.title, "(max-width: 480px) 100vw, (max-width: 768px) 90vw, 1280px", 422, 373 %}
							</a>
						{% else %}
							{% image item.thumbnail,
                "Thumbnail of " + item.title, "(max-width: 480px) 100vw, (max-width: 768px) 90vw, 1280px", 422, 373 %}
						</a>
					{% endif %}
				</div>

				<div class="tool-title">
					<p class="body-large">
						{% if item.url %}
							<a href="{{ item.url }}">{{ item.title }}</a>
						{% else %}
							{{ item.title }}
						{% endif %}
					</p>
					<p class="description">
						{{ item.description }}
					</p>
				</div>
			</r-cell>
		{% endfor %}
	</r-grid>
</div>
</r-cell>