<div class="design-process">
	<r-grid columns-l="12" columns-m="8">
		<r-cell class="design-process--observe design-process--card" span-l="1-4" span-m="1-4" span-s="row">
			<h3>Observe</h3>
			<p>
				<strong>By observing</strong>, I believe we can develop a greater understanding of user experience and needs by observing them in their natural environment.
			</p>

			<img src="{{ '/assets/images/observe.png' | url }}" loading="lazy" alt="Microscope"/>
		</r-cell>
		<r-cell class="design-process--reflect design-process--card" span-l="5-8" span-m="5-8" span-s="row">
			<h3>Reflect</h3>

			<p>
				<strong>Reflecting on my work</strong>, take into account different perspectives and be prepared to change in order to stay true to the team's values.
			</p>

			<img src="{{ '/assets/images/reflect.png' | url }}" loading="lazy" alt="Mirror"/>
		</r-cell>
		<r-cell class="design-process--make design-process--card" span-l="9-12" span-m="row" span-s="row">
			<r-grid columns-l="12" columns-m="8">
				<r-cell span-l="row" span-m="1-4" span-s="row">
					<h3>Make</h3>
					<p>
						<strong>The sooner you make, the more quickly you learn</strong>. By make, giving you the opportunity to try out new ideas and see them take effect in the real world.
					</p>
				</r-cell>
				<r-cell span-l="row" span-m="5-8" span-s="row">
					<img src=" {{ '/assets/images/make.png' | url }} " loading="lazy" alt="Make"/>
				</r-cell>
			</r-grid>
		</r-cell>
	</r-grid>
</div>