<r-cell
    class="border-left-bottom work--title-intro"
    span="1-2"
    span-s="row"
    span-md="row"
>
    <div class="border-bottom work--section-title">
        <small>Design Tooling</small>
    </div>
</r-cell>

<r-cell class="border-left-right-bottom design-tooling" span="3-12" span-s="row" span-md="row">
    <span class="block border-bottom u-desktop-only"></span>
    <div class="design-tooling--content">
        <div class="title">
            <h2>Design Tooling</h2>

            <p class="subtitle">
                I have a curiousity to learn how to code and I strive to assist
                my design team by constructing valuable utilities such as web
                applications, Sketch plugins, and Figma plugins that enhance our
                workflow.
            </p>
        </div>

        <r-grid columns="10" class="design-tooling--list-wrapper">
            <r-cell span="5" span-s="row" class="design-tooling-card">
                <a href="" class="thumbnail-wrapper">
                    <img
                        class="thumbnail"
                        src="{{
                            '/assets/images/work/page-automator-thumbnail.png'
                                | url
                        }}"
                        alt="Thumbnail"
/>
                </a>
                <div class="tool-title">
                    <p class="body-large">
                        <a href="">Project name</a>
                    </p>
                    <p class="description">
                        Automate the process of creating multiple pages.
                    </p>
                </div>
            </r-cell>
        </r-grid>
    </div>
</r-cell>