<r-cell
    class="border-left-bottom work--title-intro"
    span="1-2"
    span-s="row"
    span-md="row"
>
    <div class="border-bottom work--section-title">
        <small>Introduction</small>
    </div>
</r-cell>

<r-cell
    class="border-left-right-bottom introduction"
    span="3-12"
    span-s="row"
    span-md="row"
>
    <span class="block border-bottom u-desktop-only"></span>
    <div class="introduction--content">
        <h1>
            Hi, I'm Afnizar. I'm a product designer specializing in user
            interfaces, design system, and strategy across multiple industries
        </h1>
        <p class="subtitle">
            Right now, I'm a product designer at
            <a href="https://www.govtechedu.id/">GovTech Edu</a>, where I design
            platform for nationwide national assesment result, Rapor Pendidikan.
            Prior to this, I did product design for Bukalapak, freelancing, and
            various agencies.
        </p>
    </div>
</r-cell>