<r-grid class="intro__main" columns="12">
    <r-cell span="3-10" span-s="row">
        <h1
            class="intro__heading"
            data-splitting="lines"
            aria-label="Afnizar is a digital product designer at GovTech Edu"
        >
            <span aria-hidden="true">
                Afnizar is a digital product designer at
                <span class="font-highlight">GovTech Edu</span>
            </span>
        </h1>
        <p class="subtitle">
            Previously at <u>Bukalapak</u> where I designing design system + ops
            and crafting a hassle-free digital payment. Interested in design and
            code. Along the way, I believe that design and engineering work in
            tandem to create amazing things.
        </p>
    </r-cell>
</r-grid>
