<div class="introduction--content">
    <h1>
        Hi, I'm Afnizar. I'm a product designer specialising in design system,
        visual, and strategy across multiple industries
    </h1>
    <p class="subtitle">
        Right now, I'm a product designer at GovTech Edu, where I design
        platform for nationalwide national assesment result. Before that, I did
        product design for the design system team, Bukalapak, also at agencies.
    </p>
    <p class="subtitle">
        I’m passionate about all areas of design and I believe in design as a
        better approach to solving human problem. I deeply value human-centered
        design that's meaningful and impactful.
    </p>
</div>
