<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
	<div class="b-bottom work--section-title">
		<small aria-hidden="true">Headline</small>
	</div>
</r-cell>

<r-cell
	class="b-left-right-bottom introduction"
	span="3-12"
	span-s="row"
	span-lg="row"
>
	<span class="block b-bottom u-desktop-only"></span>
	<div class="introduction--content">
		<div class="headline">
			<h1 text-split letters-slide-up>
				Afnizar is a product designer who focuses on user interfaces, design systems, and strategy
			</h1>
			<p class="subtitle">
				Currently, I'm working at <a href="https://www.govtechedu.id/">GovTech Edu</a>, where I design platforms for Rapor Pendidikan. Prior to this, I gained valuable experience working on product design for Bukalapak, startups, and with various agencies.
			</p>
		</div>

		<ul class="button-intro">
			<li>
				<a href="#selected-work" class="button btn-secondary"
					>Selected Work {% icon "arrow-down" %}
				</a>
			</li>
			<li>
				<a
					href="{{ '/afnizar-resume.pdf' | url }}"
					class="button btn-outline"
					data-umami-event="nav-resume"
					>Resume</a
				>
			</li>
		</ul>

		<div class="header-illustration">
			{% include "home/illustration.njk" %}
		</div>
	</div>
</r-cell>