<r-grid class="intro__main" columns="12">
    <r-cell span="3-10" span-s="row">
        <h1
            class="intro__heading"
            data-splitting="lines"
            aria-label="Afnizar is a product designer, based in Indonesia."
        >
            <span aria-hidden="true">
                <span class="font-highlight">Afnizar</span> is a product
                designer, based in Indonesia.
            </span>
        </h1>
        <p class="subtitle">
            Currently at <a href="http://govtech.education/">GovTech Edu</a>.
            Previously at Bukalapak where I designing design system and ops. I’m
            passionate about all areas of design and I believe in design as a
            better approach to solving human problem. I deeply value
            human-centered design that's meaningful and impactful.
        </p>
    </r-cell>
</r-grid>
