<r-grid class="intro__main" columns="12">
	<r-cell span="3-10" span-s="row">
		<h1 class="intro__heading" data-splitting aria-label="Afnizar is a digital product designer at Telkom Indonesia">
			<span aria-hidden="true">
				Afnizar is a digital product designer at GovTech Edu @ Telkom Indonesia
			</span>
		</h1>
	</r-cell>
</r-grid>