<div class="selectedwork">
	<r-grid class="selectedwork__main" columns="12">
		<r-cell span="3-10" span-s="row">
			<h2>
				Selected works
			</h2>
		</r-cell>

		<r-cell class="selectedwork__featured selectedwork__card work-ds-govtech" span="row">
			<div class="featured__header">
				<h3 class="bold">
					Building design system for GovTech Edu @ Telkom Indonesia
				</h3>
				<p class="subtitle">
					Laying the foundation of design system to support the future of education in Indonesia.
				</p>
			</div>
		</r-cell>
		<r-cell span="1-6" span-s="row" class="selectedwork__general selectedwork__card work-dashboard-km">
			<div class="general__header">
				<h4 class="bold">
					Dashboard Mitra Kampus Merdeka
				</h4>
				<p>
					A platform for companies to efficiently manage internships and independent studies activities in their organizations.
				</p>
			</div>
		</r-cell>
		<r-cell span="7-12" span-s="row" class="selectedwork__general selectedwork__card work-rapor-pendidikan">
			<div class="general__header">
				<h4 class="bold">
					Rapor Pendidikan
				</h4>
				<p>
					Helps schools, districts, and ministries of education make data-driven decisions in order to improve the quality of education.
				</p>
			</div>
		</r-cell>
		<r-cell span="1-6" span-s="row" class="selectedwork__general selectedwork__card work-natatoko">
			<div class="general__header">
				<h4 class="bold">
					Natatoko: Create an online store in minutes
				</h4>
				<p>
					You can manage your online store without all the hassle. It offers features for order taking, product management, and business analysis.
				</p>
			</div>
		</r-cell>
		<r-cell span="7-12" span-s="row" class="selectedwork__general selectedwork__card work-bukabike">
			<div class="general__header">
				<h4 class="bold">
					BukaBike: A cheaper, faster, and more flexible bike sharing feature
				</h4>
				<p>
					A bike sharing feature that provides short distance transportation options for commuting, traveling, and replacing walking for leisure.
				</p>
			</div>
		</r-cell>
	</r-grid>
</div>
