<div class="selectedwork">
    <r-grid class="selectedwork__main" columns="12">
        <r-cell span="3-10" span-s="row">
            <h2>Selected works</h2>
        </r-cell>
        <r-cell class="selectedwork__card work-rapor-pendidikan" span="row">
            <div class="image-wrapper">
                <a href="https://raporpendidikan.kemdikbud.go.id">
                    <img
                        class="image"
                        src="{{
                            '/assets/images/selected-works/rapor-pendidikan.png'
                                | url
                        }}"
                        loading="lazy"
                    />
                    <div class="project-status">
                        {% icon "locked" %}
                        <p class="bold">Private Case Study</p>
                    </div>
                </a>
            </div>
            <div class="content__title">
                <h3 class="bold">Rapor Pendidikan</h3>
                <p class="body-large">
                    Helps schools, districts, and ministries of education make
                    data-driven decisions in order to improve the quality of
                    education.
                </p>
                <a
                    class="livesite-button"
                    href="https://raporpendidikan.kemdikbud.go.id"
                >
                    Live Site {% icon "arrow-right" %}
                </a>
            </div>
        </r-cell>
        <r-cell class="selectedwork__card work-ds-govtech" span="row">
            <div class="image-wrapper">
                <a>
                    <img
                        class="image"
                        src="{{
                            '/assets/images/selected-works/design-system-for-govtech-edu.png'
                                | url
                        }}"
                        loading="lazy"
                    />
                    <div class="project-status">
                        {% icon "locked" %}
                        <p class="bold">Private Case Study</p>
                    </div>
                </a>
            </div>
            <div class="content__title">
                <h3 class="bold">Design System for GovTech Edu</h3>
                <p class="body-large">
                    Laying the foundation of design system to support the future
                    of education in Indonesia.
                </p>
            </div>
        </r-cell>
        <r-cell class="selectedwork__card work-dashboard-km" span="row">
            <div class="image-wrapper">
                <a href="https://kampusmerdeka.kemdikbud.go.id">
                    <img
                        class="image"
                        src="{{
                            '/assets/images/selected-works/dashboard-mitra-kampus-merdeka.png'
                                | url
                        }}"
                        loading="lazy"
                    />
                    <div class="project-status">
                        {% icon "locked" %}
                        <p class="bold">Private Case Study</p>
                    </div>
                </a>
            </div>
            <div class="content__title">
                <h3 class="bold">Dashboard Mitra Kampus Merdeka</h3>
                <p class="body-large">
                    A platform for companies to efficiently manage internships
                    and independent studies activities in their organizations.
                </p>
                <a
                    class="livesite-button"
                    href="https://kampusmerdeka.kemdikbud.go.id"
                >
                    Live Site {% icon "arrow-right" %}
                </a>
            </div>
        </r-cell>
        <r-cell class="selectedwork__card work-natatoko" span="row">
            <div class="image-wrapper">
                <a href="https://natatoko.com">
                    <img
                        class="image"
                        src="{{
                            '/assets/images/selected-works/natatoko-create-online-store.png'
                                | url
                        }}"
                        loading="lazy"
                    />
                    <div class="project-status">
                        {% icon "locked" %}
                        <p class="bold">Private Case Study</p>
                    </div>
                </a>
            </div>
            <div class="content__title">
                <h3 class="bold">
                    Natatoko: Create an online store in minutes
                </h3>
                <p class="body-large">
                    Manage your online store without all the hassle. It offers
                    features for order taking, product management, and business
                    analysis.
                </p>
                <a class="livesite-button" href="https://natatoko.com">
                    Live Site {% icon "arrow-right" %}
                </a>
            </div>
        </r-cell>
    </r-grid>
</div>
