<r-cell
    class="border-left-bottom work--title-intro"
    span="1-2"
    span-s="row"
    span-lg="row"
>
    <div class="border-bottom work--section-title">
        <small aria-hidden="true">Selected work</small>
    </div>
</r-cell>

<r-cell
    class="border-left-right-bottom selected-work"
    span="3-12"
    span-s="row"
    span-lg="row"
>
    <span class="block border-bottom u-desktop-only"></span>
    <div class="selected-work--content">
        <h2 text-split letters-slide-up>Selected work</h2>

        {% for item in collections.selected | slice(0, 4) %}
            <div class="selected-work--item">
                <div class="thumbnail-wrapper">
                    <a href="{{ item.url }}">
                        {% image "work/"+item.data.thumbnail, "Thumbnail of " + item.data.title,
                    "(max-width: 480px) 100vw, (max-width: 768px) 90vw, 1280px",
                    955, 689 %}
                    </a>

                </div>

                <r-grid columns="10" class="description">
                    <r-cell span="3" span-s="row">
                        <p class="body-large">
                            <a href="{{ item.url }}">{{ item.data.title }}</a>
                        </p>
                    </r-cell>
                    <r-cell span="4-10" span-s="row">
                        <p class="description--project">{{ item.data.description }}</p>
                        <ul>
                            {% for i in item.data.tags %}
                                <li>
                                    <small class="badge helper">{{ i }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </r-cell>
                </r-grid>
            </div>
        {% endfor %}
    </div>
</r-cell>