<div class="selectedwork">
	<r-grid class="selectedwork__main" columns="12">
		<r-cell span="3-10" span-s="row">
			<h2>
				Selected
				<span class="font-highlight">works</span>
			</h2>
		</r-cell>
		<r-cell class="selectedwork__card work-ds-govtech" span="row">
			<div class="image-wrapper">
				<a href="{{ '/works/govtech-edu-design-system' | url }}">
					<img class="image" src="{{ '/assets/images/selected-works/design-system-for-govtech-edu.png' | url }}" loading="lazy"/>

					<div class="project-status">
						<p class="bold">Case study in progress</p>
					</div>
				</a>
			</div>
			<div class="content__title">
				<a href="{{ '/works/govtech-edu-design-system' | url }}">
					<h3 class="bold">
						Design System for GovTech Edu at Telkom Indonesia
					</h3>
				</a>
				<p class="body-large">
					Laying the foundation of design system to support the future of education in Indonesia.
				</p>
			</div>
		</r-cell>
		<r-cell class="selectedwork__card work-dashboard-km" span="row">
			<div class="image-wrapper">
				<a href="{{ '/works/dashboard-mitra-kampus-merdeka/' | url }}">
					<img class="image" src="{{ '/assets/images/selected-works/dashboard-mitra-kampus-merdeka.png' | url }}" loading="lazy"/>

					<div class="project-status">
						<p class="bold">Case study in progress</p>
					</div>
				</a>
			</div>
			<div class="content__title">
				<a href="{{ '/works/dashboard-mitra-kampus-merdeka/' | url }}">
					<h3 class="bold">
						Dashboard Mitra Kampus Merdeka
					</h3>
				</a>
				<p class="body-large">
					A platform for companies to efficiently manage internships and independent studies activities in their organizations.
				</p>
			</div>
		</r-cell>
		<r-cell class="selectedwork__card work-natatoko" span="row">
			<div class="image-wrapper">
				<a href="{{ '/works/natatoko/' | url }}">
					<img class="image" src="{{ '/assets/images/selected-works/natatoko-create-online-store.png' | url }}" loading="lazy"/>
					<div class="project-status">
						<p class="bold">Case study in progress</p>
					</div>
				</a>

			</div>
			<div class="content__title">
				<a href="{{ '/works/natatoko/' | url }}">
					<h3 class="bold">
						Natatoko: Create an online store in minutes
					</h3>
				</a>
				<p class="body-large">
					You can manage your online store without all the hassle. It offers features for order taking, product management, and business analysis.
				</p>
			</div>
		</r-cell>
		<r-cell class="selectedwork__card work-rapor-pendidikan" span="row">
			<div class="image-wrapper">
				<a href="{{ '/works/rapor-pendidikan/' | url }}">
					<img class="image" src="{{ '/assets/images/selected-works/rapor-pendidikan.png' | url }}" loading="lazy"/>

					<div class="project-status">
						{% icon "locked" %}
						<p class="bold">On-going project</p>
					</div>
				</a>
			</div>
			<div class="content__title">
				<a href="{{ '/works/rapor-pendidikan/' | url }}">
					<h3 class="bold">
						Rapor Pendidikan
					</h3>
				</a>
				<p class="body-large">
					Helps schools, districts, and ministries of education make data-driven decisions in order to improve the quality of education.
				</p>
			</div>
		</r-cell>
		<r-cell class="selectedwork__card work-bukabike" span="row">
			<div class="image-wrapper">
				<a href="{{ '/works/bukabike/' | url }}">
					<img class="image" src="{{ '/assets/images/selected-works/bukabike-bike-sharing-feature-at-bukalapak.png' | url }}" loading="lazy"/>
					<div class="project-status">
						<p class="bold">Case study in progress</p>
					</div>
				</a>
			</div>
			<div class="content__title">
				<a href="{{ '/works/bukabike/' | url }}">
					<h3 class="bold">
						BukaBike: A cheaper, faster, and more flexible bike sharing feature
					</h3>
				</a>
				<p class="body-large">
					A bike sharing feature that provides short distance transportation options for commuting, traveling, and replacing walking for leisure.
				</p>
			</div>
		</r-cell>
	</r-grid>
</div>