<r-cell
    class="border-left-bottom work--title-intro"
    span="1-2"
    span-s="row"
    span-lg="row"
>
    <div class="border-bottom work--section-title">
        <small>Selected work</small>
    </div>
</r-cell>

<r-cell
    class="border-left-right-bottom selected-work"
    span="3-12"
    span-s="row"
    span-lg="row"
>
    <span class="block border-bottom u-desktop-only"></span>
    <div class="selected-work--content">
        <h2>Selected work</h2>
        {% for item in selectedWork %}

            <div class="selected-work--item">
                <div class="thumbnail-wrapper">
                    {% if item.url %}
                        <a href="{{ item.url }}">
                            {% image item.thumbnail, "Thumbnail of " + item.title,
                    "(max-width: 480px) 100vw, (max-width: 768px) 90vw, 1280px",
                    955, 689 %}
                        </a>
                    {% else %}
                        {% image item.thumbnail, "Thumbnail of " +
                item.title, "(max-width: 480px) 100vw, (max-width: 768px) 90vw,
                1280px", 955, 689 %}
                    {% endif %}
                </div>

                <r-grid columns="10" class="description">
                    <r-cell span="3" span-s="row">
                        <p class="body-large">
                            {% if item.url %}
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </p>
                    </r-cell>
                    <r-cell span="4-10" span-s="row">
                        <p class="description--project">{{ item.description }}</p>
                        <ul>
                            {% for i in item.tags %}
                                <li>
                                    <small class="badge helper">{{ i }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </r-cell>
                </r-grid>
            </div>
        {% endfor %}
    </div>
</r-cell>