<r-cell class="skills" span="2-11" span-s="row" span-lg="row">
	<div class="skills--content">
		<div class="title">
			<h2 text-split letters-slide-up>I can help you with</h2>

			<p class="subtitle">
               From end-to-end product design to icon design. My focus is in achieving a balance between driving impactful business goals and delivering exceptional user experiences. I also have a knack for crafting visual languages that resonate with users.
            </p>
		</div>

		<ul>
			{% for skill in skills %}
				<li>
					<h3>{{ skill }}</h3>
				</li>
			{% endfor %}
		</ul>
	</div>
</r-cell>