<r-cell
    class="border-left-bottom work--title-intro"
    span="1-2"
    span-s="row"
    span-md="row"
>
    <div class="border-bottom work--section-title">
        <small>Skills</small>
    </div>
</r-cell>

<r-cell class="border-left-right-bottom skills" span="3-12" span-s="row" span-md="row">
    <span class="block border-bottom u-desktop-only"></span>
    <div class="skills--content">
        <div class="title">
            <h2>I can help you with</h2>

            <p class="subtitle">
                From end-to-end product design to icon design. I strive to
                achieve a harmonious equilibrium between high-impact business
                objectives and exceptional user experiences. Moreover, I have a
                knack for crafting innovative visual languages that resonate
                with users.
            </p>
        </div>

        <ul>
            <li>
                <h3>End-to-end product design</h3>
            </li>
            <li>
                <h3>Interface design</h3>
            </li>
            <li>
                <h3>User experience design</h3>
            </li>
            <li>
                <h3>Product strategy & planning</h3>
            </li>
            <li>
                <h3>Systems thinking</h3>
            </li>
            <li>
                <h3>Design systems</h3>
            </li>
            <li>
                <h3>Icon design</h3>
            </li>
        </ul>
    </div>
</r-cell>