---
layout: base
eleventyExcludeFromCollections: true
---

<div class="container work">
    <r-grid columns="12" columns-s="4">
        {% include "header.njk" %}
        {% include "404.njk" %}
    </r-grid>
</div>