---
layout: base
eleventyNavigation:
    key: Selected works
---

<div class="container">
    <r-grid columns="12" class="topbar">
        <r-cell class="border-left-bottom top-empty" span="1-2"></r-cell>
        <r-cell
            class="border-left-right-bottom header-nav-container"
            span="3-12"
        >
            {% include "header.njk" %}

            <r-grid columns="12" class="topbar">
                <r-cell
                    style="height: 2000px"
                    class="border-bottom top-empty"
                    span="1-2"
                ></r-cell>
            </r-grid>
        </r-cell>
    </r-grid>
</div>
