---
layout: base
eleventyNavigation:
    key: Work
---

<main class="container work">
    <r-grid columns="12" columns-s="4">
        {% include "header.njk" %}
        {% include "home/introduction.njk" %}
        {% include "footer.njk" %}
    </r-grid>
</main>