---
permalink: '/assets/styles/themes.css'
eleventyExcludeFromCollections: true
---

{%- macro colorscheme(colors) -%}
    --background-default: {{ colors.backgroundDefault }};
    --text-primary: {{ colors.textPrimary }};
    --text-secondary: {{ colors.textSecondary}};
    --text-disabled: {{ colors.textDisabled}};
    --border-default: {{ colors.borderDefault }};
    --surface-default: {{ colors.surfaceDefault }};
{%- endmacro -%}

{%- set default = themes|findById('default') -%}
{%- set dark = themes|findById('dark') -%}

:root {
    {{ colorscheme(default.colors) }}
}

@media(prefers-color-scheme: dark) {
    :root {
        {{ colorscheme(dark.colors) }}
    }
}

{% for theme in themes %}
[data-theme='{{ theme.id }}'] {
    {{ colorscheme(theme.colors) }}
}
{% endfor %}