---
import BaseLayout from "./BaseLayout.astro"
import Sidebar from "../components/Sidebar.astro"
import type { Metadata } from "../config/meta"

interface Props extends Partial<Metadata> {
	title: string
}

const props = Astro.props
---

<BaseLayout {...props}>
	<div class="flex flex-col lg:flex-row mx-auto p-0 max-w-[1510px]">
		<Sidebar>
			<slot name="sidebar" />
		</Sidebar>
		<main id="main-content" class="flex-grow">
			<slot />
		</main>
	</div>
</BaseLayout>

<style>
	@media (min-width: 1441px) {
		div {
			border-right: 1px solid var(--border-default);
		}
	}
</style>
