---
layout: base
---

{% include "userinfo.njk" %}
{% include "header.njk" %}

<div class="container work">
	<r-grid columns="12" columns-s="4">
		{% include "work/header.njk" %}

		<r-cell
            class="content"
            span="2-11"
            span-s="row"
            span-lg="row"
        >
			<div class="content--content">
				{{ content | safe }}

				<ul class="tag-list">
					<li>
						<small class="helper">Tags</small>
					</li>
					{% for i in tags %}
						<li>
							<a href="{{ '/work/tags/' + i | slugify | url }}">
								<small class="badge badge-tags helper">{{ i }}</small>
							</a>
						</li>
					{% endfor %}
					<li></li>
				</ul>
			</div>
		</r-cell>

		{% include "work/other-work.njk" %}

	</r-grid>
</div>

{% include "footer/social.njk" %}