.article-card {
	padding: 24px 24px 32px 24px;
	position: relative;
	overflow: hidden;
	border: 1px solid var(--border-default);
	background: var(--background-default);
	margin-left: -1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include mq-down(sm) {
		margin-left: 0px;
		margin-top: -1px;
	}

	.article-date {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 24px;

		p {
			font-size: 1.8125rem;
			line-height: 1.99375rem;
			text-rendering: optimizeLegibility;
			font-family: $font-family-sans-serif-heading;
			font-variation-settings: "ital" 0, "wdth" 90;
			font-weight: 600;
			color: var(--text-primary);
		}

		small {
			color: var(--text-disabled);
		}
	}

	.article-title {
		h5 {
			margin: 0px 0px 16px 0px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;

			a {
				text-decoration: none;
			}
		}

		p.description {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 3;
		}
	}

	ul {
		display: flex;
		margin-top: 44px;
		flex-wrap: wrap;
		gap: 4px;

		a {
			text-decoration: none;
			padding: 0;
			margin: 0;

			&:hover {
				small {
					color: var(--background-default);
					background: var(--text-primary);
				}
			}
		}
	}
}
