.article-card {
	padding: 24px 24px 32px 24px;
	position: relative;
	overflow: hidden;
	border: 1px solid var(--border-default);
	background: var(--background-default);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: $border-radius-16;

	@include mq-down(sm) {
		border-radius: $border-radius-12;
	}

	.article-date {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 24px;

		p {
			font-size: 1.8125rem;
			line-height: 1.99375rem;
			text-rendering: optimizeLegibility;
			font-family: $font-family-sans-serif-heading;
			font-variation-settings: "ital" 0, "wdth" 90;
			font-weight: 600;
			color: var(--text-primary);
		}

		small {
			color: var(--text-disabled);
		}
	}

	.article-title {
		a {
			background: none;
			text-decoration: none;
			margin: 0;
			padding: 0;

			h5 {
				margin: 0px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
				display: inline;
			}
		}

		p.description {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 3;
			margin-top: 16px;
		}
	}

	ul {
		display: flex;
		margin-top: 44px;
		flex-wrap: wrap;
		gap: 4px;

		a {
			text-decoration: none;
			padding: 0;
			margin: 0;

			&:hover {
				small {
					color: var(--background-default);
					background: var(--text-primary);
				}
			}
		}
	}

	ul {
		list-style: none;
		padding: 0;
	}

	.hidden-tags {
		display: none;
	}

	.toggle-tags {
		background: transparent;
		border: none;
		cursor: pointer;
		margin-left: 5px;
	}
}
