.article-card {
	padding: 24px;
	position: relative;
	overflow: hidden;
	border: 1px solid var(--border-default);
	background: var(--background-default);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: $border-radius-12;
	gap: 12px;

	@include mq-down(lg) {
		flex-direction: column;
		border-radius: $border-radius-12;
	}

	.article-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.article-date {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 24px;

		p {
			font-size: 1.25rem;
			line-height: 1.375rem;
			text-rendering: optimizeLegibility;
			font-family: $font-family-sans-serif-heading;
			font-variation-settings: "ital" 0, "wdth" 90;
			font-weight: 600;
			color: var(--text-primary);
		}

		small {
			color: var(--text-disabled);
		}
	}

	.article-title {
		a {
			background: none;
			text-decoration: none;
			margin: 0;
			padding: 0;

			h5 {
				margin: 0;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
				display: inline;
			}
		}

		p.description {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 3;
			margin-top: 16px;
		}
	}

	.article-thumbnail {
		width: 20%;

		@include mq-down(lg) {
			width: 100%;
			display: flex;
			justify-content: center;
			position: relative;
			bottom: -24px;
			height: 100px;
		}

		.article-thumbnail-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			width: 155px;
			height: 155px;
			position: relative;
			filter: drop-shadow(15px 15px 45px var(--shadow));
			border-radius: $border-radius-12;
			top: 20%;
			transform: rotate(8deg);
			right: -12px;
			border: 4px solid var(--background-default);

			@include mq-down(lg) {
				top: 0;
				right: 0;
				width: 200px;
				height: 200px;
			}
		}

		a:hover {
			background: none;
		}

		img {
			width: 300px;
			height: auto;
		}
	}

	ul {
		display: flex;
		margin-top: 24px;
		flex-wrap: wrap;
		gap: 8px;
		align-items: center;
		color: var(--text-disabled);

		a {
			text-decoration: none;
			padding: 0;
			margin: 0;

			&:hover {
				small {
					color: var(--background-default);
					background: var(--text-primary);
				}
			}
		}

		small.helper {
			color: var(--text-disabled);
		}
	}
}
