.writing-detail {
	&--content {
		padding: 144px 0px 64px 0px;
		border-bottom: 1px solid var(--border-default);

		@include mq-down(lg) {
			margin: 64px 24px 0px 24px;
		}

		h1 {
			margin: 24px 0px;
		}
	}
}
