.writing-detail {
	&--content {
		margin: 144px 0px 0px 0px;
		padding-bottom: 64px;

		border-bottom: 1px solid var(--border-default);

		@include mq-down(lg) {
			margin: 64px 24px 0px 24px;
			padding-bottom: 64px;
		}

		@include mq-down(sm) {
			padding-bottom: 44px;
		}

		h1 {
			margin: 24px 0px;
		}
	}
}
