.writing-detail {
	&--content {
		margin: 120px 0px 0px 0px;
		padding-bottom: 64px;
		border-bottom: 1px solid var(--border-default);

		@include mq-down(lg) {
			margin: 64px 24px 0px 24px;
			padding-bottom: 64px;
		}

		@include mq-down(sm) {
			padding-bottom: 24px;
		}

		.date {
			margin-bottom: 32px;
			font-weight: 520;
			color: var(--text-disabled);
		}

		.info {
			display: flex;
			gap: 8px;
			color: var(--text-disabled);
			margin-top: 32px;
			align-items: center;
			font-weight: 520;
			overflow: auto;

			@include mq-down(sm) {
				padding-bottom: 20px;
			}

			p {
				color: var(--text-disabled);
				white-space: nowrap;
			}

			span {
				white-space: nowrap;
			}

			.badge-category {
				text-decoration: none;
				margin: 0;

				&:hover {
					color: var(--background-default);
					background: var(--text-primary);
				}
			}
		}

		h1 {
			margin: 0px 0px 24px 0px;
		}
	}
}
