.little-about {
    background: var(--surface-green);
    &__wrapper {
        border-radius: 60px 60px 0px 0px;
        padding: 92px 0px;
        background: var(--background-default);
    }

    h2 {
        margin-bottom: 92px;
    }
    &__content {
        h4 {
            margin-bottom: 16px;
        }
        p {
            color: var(--text-secondary);
            margin-bottom: 44px;
        }
    }

    &__image {
        &.cats {
            img {
                margin-bottom: 32px;
                @include mq-down(lg) {
                    margin-bottom: 20px;
                }
            }
        }
        img {
            max-width: 100%;
            border-radius: 24px;

            @include mq-down(sm) {
                margin-bottom: 20px;
            }
        }
    }

    hr {
        border: none;
        background: var(--text-primary);
        height: 2px;
        margin: 64px 0px;
    }
}
