.quick-nav {
	overflow: hidden;
	width: 100%;
	margin-top: 64px;

	@include mq-down(lg) {
		margin-top: 44px;
	}

	ul {
		display: flex;
		align-items: flex-start;
		overflow-y: scroll;
		box-sizing: content-box;
		padding-right: 24px;

		li {
			display: flex;
			border-radius: 16px 16px 0px 0px;
			border: 1px solid var(--border-default);
			background: var(--background-default);

			&:not(:first-child) {
				margin-left: -24px;
			}

			&:nth-child(1) {
				z-index: 5;
			}

			&:nth-child(2) {
				z-index: 4;
			}

			&:nth-child(3) {
				z-index: 3;
			}

			&:nth-child(4) {
				z-index: 2;
			}

			a {
				white-space: nowrap;
				padding: 24px 24px 24px 36px;
				text-decoration: none;
				color: var(--text-primary);
				font-weight: 520;
				margin: 0;

				@include mq-down(lg) {
					padding: 24px 32px 44px 32px;
				}

				&:hover {
					background: none;
					color: var(--text-primary);
				}
			}

			&:hover {
				box-shadow: -2px 2px 0px 2px var(--text-primary) inset;
			}
		}
	}
}
