<r-cell
	class="b-left-bottom work--title-intro"
	span="1-2"
	span-s="row"
	span-lg="row"
>
    <div class="b-bottom work--section-title">
        <small aria-hidden="true">Contact</small>
    </div>
</r-cell>

<r-cell
	class="b-left-right-bottom contact"
	span="3-12"
	span-s="row"
	span-lg="row"
>
    <span class="block b-bottom u-desktop-only"></span>
    <div class="about--content contact">
        <div class="headline-container contact">
            <div class="headline">
                <h1>Contact</h1>
            </div>

            <p class="subtitle">
				I am passionate about all areas of design and I believe that
				design provides a better approach to solving human problems. I
				deeply value human-centered design that is meaningful and
				impactful.
			</p>

        </div>
    </div>
</r-cell>