<div class="quick-nav quick-nav--contact">
    <ul>
        <li>
            <a data-umami-event="contact-x" href="https://www.twitter.com/afnizarnur">X</a>
        </li>
        <li>
            <a data-umami-event="contact-threads" href="https://www.threads.net/@afnizar_nur">Threads</a>
        </li>
        <li>
            <a data-umami-event="contact-figma" href="https://www.figma.com/@afnizarnur">Figma</a>
        </li>
        <li>
            <a data-umami-event="contact-ig" href="https://www.instagram.com/afnizar_nur/">Instagram</a>
        </li>
        <li>
            <a data-umami-event="contact-github" href="https://github.com/afnizarnur">GitHub</a>
        </li>
        <li>
            <a data-umami-event="contact-linkedin" href="https://www.linkedin.com/in/afnizarnur/">LinkedIn</a>
        </li>
    </ul>
</div>