---
interface Props {
	gap?: "none" | "xs" | "sm" | "md" | "lg" | "xl" | "2xl"
	class?: string
	[x: string]: any
}

const { gap = "md", class: className = "", ...rest } = Astro.props

const gapMap = {
	none: "gap-0",
	xs: "gap-1",
	sm: "gap-2",
	md: "gap-4",
	lg: "gap-6",
	xl: "gap-8",
	"2xl": "gap-12"
}

const classes = `flex flex-col ${gapMap[gap]} ${className}`
---

<div class={classes} {...rest}>
	<slot />
</div>
